[2018-04-29 10:57] pavel-odintsov opened #1 "ARM64 builds"
Hello!

As discussed in https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3886 I moved conversation here.

Regarding distro support I have experience only with Ubuntu LTS and Debian. Both of them work pretty fine on ARM64 arch.

[2018-04-29 10:59] ashkulz commented on #1
Do you have the exact sequence of commands I can run to have a fully working OS running under qemu? Would prefer vagrant images, as I need to implement support for that anyway for OS X and Windows builds.

[2018-04-29 11:04] mikehaertl opened #2 "Alpine build"
There's already a (docker based) build for alpine over here:

https://github.com/Surnet/docker-wkhtmltopdf

The build setup could be copied as a starting point.

It basically works - but has issues with some fonts not being rendered correctly (See https://github.com/Surnet/docker-wkhtmltopdf/issues/1). We've boiled that down to:

* fontconfig works
* Serif fonts are available on the system and rep

[2018-05-01 18:51] ashkulz commented on #1
The question now becomes, which distros and architectures to support? I'll wait for PRs from people who actually need the builds, as it's quite simple to add support ... don't want to create a lot of targets which no one will eventually use, which is something that I guess happens for the x86 builds.

[2018-05-09 02:01] ashkulz commented on #2
I guess I'll need to incorporate the musl changes into Qt as well, as I don't want to apply patches on the fly ... will try to look into it this weekend.

[2018-05-28 04:59] conradkdotcom opened #4 "Thanks !"
Hello @ashkulz,

Just wanted to say thanks for your work on wkhtmltopdf (repackaging to fix cross distro issues, maintaining the package, etc). Your continued efforts are invaluable :)

Have a nice day,
Conrad

[2018-05-29 09:31] ashkulz commented on #4
Thanks a lot, you made my day :+1:

[2018-05-29 09:31] #4 closed

[2018-05-29 09:33] ashkulz commented on #1
Closing this issue, as I'll accept PRs for the distros/architectures which are of interest.

[2018-05-29 09:33] #1 closed

[2018-06-18 22:01] sarahkemp opened #6 "add support for ppc64le architecture"
Referencing: https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3540

I'd love to see wkhtmltopdf working without all the trouble under Ubuntu on PPC64LE architecture.

[2018-06-21 05:26] halkosajtarevic opened #7 "Build"
Any guide how to build this? Which OS is required, what steps have to be taken etc.?

[2018-06-21 06:20] ashkulz commented on #7
That's been on my todo list, I'll try to put in some basic docs this
evening. Basically it runs on Ubuntu 18.04, and you need to have the
following packages installed:

sudo apt install python-yaml docker.io vagrant virtualbox p7zip-full

If you want to build for linux, use ./build package-docker or if targeting
Windows or macOS, use ./build vagrant.

[2018-06-21 17:34] ashkulz commented on #6
Okay, so this is not really documented -- but you can build your own, see [instructions here](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3955#issuecomment-397785606) -- you'll have to use the xenial image instead of centos7. After that, you just need to build the docker image (`./build docker-images <image-name>`) and the target package (`./build package-docker <image-name> <source-dir>`) -

[2018-06-21 17:34] ashkulz commented on #2
@alloylab: are you planning to make a PR for this?

[2018-06-22 05:16] halkosajtarevic commented on #7
Thank you very much!

[2018-06-22 06:52] ashkulz commented on #7
Implemented in 1a23e08d5662fa777b90004970e4ba13d8d4435d, please open PR if you feel something needs to be corrected.

[2018-06-22 06:52] #7 closed

[2018-06-22 06:53] ashkulz commented on #6
Added documentation on the complete build/porting process in 1a23e08d5662fa777b90004970e4ba13d8d4435d.

[2018-06-22 09:13] ashkulz commented on #6
The targets requested till date are:
- `xenial-ppc64le`
- `centos7-ppc64le`

I think it makes sense to add `bionic-ppc64le`, but building a release will take a long time. Need to figure out if a native cross-compiling solution can be worked out.

[2018-07-01 09:58] p3x-robot opened #8 "FEATURE: we use different linux packages and it is very complex to install it to a folder"
Hello!

How are you?

Before, we could install the `wkhtmltopdf` installer with a https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz, but with `0.12.5` we have many `deb`, `rpm` etc...

Is it possible to get the latest `*linux-generic-amd64.tar.xz` release and just untar to use it, like before?

We would have to install it every flavour

[2018-07-05 18:15] alloylab commented on #2
yes I am, got behind with EOQ... just successfully compile 0.12.5 on alpine... https://git.alloylab.com/open-source/wkhtmltopdf/tags/0.12.5-070518  will submit PR on here

[2018-07-05 18:18] ashkulz commented on #2
Please submit PR for Qt patches first, then over here.

[2018-07-11 10:45] paololim commented on #8
Would really like to see an update for this issue. There are bug fixes in 0.2.15 that we'd like to use right now, but are unable to because of this packaging issue.

[2018-07-12 14:00] ashkulz commented on #8
See wkhtmltopdf/wkhtmltopdf#3001 on the problems with a single Linux binary. If you want, create a Vagrant box based on `bento/centos6` and use static linkage via conan i.e. similar to macos.

[2018-08-01 16:31] qhartman opened #9 "Flatpak or Snappy packages?"
I am wondering is using flatpak (my preference) or snappy packages might help get around the complexities of running in different Linux environments?

flatpak - https://flatpak.org/
snappy snapcraft - https://snapcraft.io/

Thoughts on that?

[2018-08-09 19:39] PerlTester opened #10 "cross building for windows"
Hi ashkulz,

I'm running builds using the new packaging model with vagrant and virtual box on ubuntu 18.04 LTS (a vm on my esxi5.5 host) and successfully have built wkhtmltopdf for linux, but am having a gruelling time trying to get a windows build going.

I have a standard newly built ubuntu 18.04 and installed the necessaries with

sudo apt install -y python-yaml docker.io vagrant virtualbox p7z

[2018-08-09 19:44] ashkulz commented on #10
Why are you running under sudo? Also, try ./build vagrant --clean as it looks like the VM didn't get provisioned correctly. Post the complete log of a clean build, as all releases use these scripts.

[2018-08-09 19:45] ashkulz commented on #10
If you want, you can also run it directly on Windows ... see the appveyor configuration on how to do that.

[2018-08-09 19:47] ashkulz commented on #9
Patches welcome, or even a detailed guide would help.

[2018-08-09 19:55] PerlTester commented on #10
Thanks I'll have look

On Thu, Aug 9, 2018 at 9:45 PM Ashish Kulkarni <notifications@github.com>
wrote:

[2018-08-10 13:42] PerlTester commented on #10
OK after moving to desktop ubuntu and setting the gui flag I have found that the issue is related to virtualisation VT not enabled in the client VM bios, running in esxi5.5. - basically nested virtual machines need to be supported.

To enable this in esxi5.5 is described here:
https://www.codementor.io/slavko/enable-virtualization-inside-esxi-virtual-machine-du107l4ky

Thanks again

P.

[2018-08-10 13:44] ashkulz commented on #10
Please reopen if you face any issue in the compilation process. Feel free to submit a PR mentioning the requirement for physical hardware or nested VT.

[2018-08-10 13:44] #10 closed

[2018-08-10 15:42] PerlTester opened #11 "SSH command syntax incorrect"
Hi,
Doing a windows build using the new packaging module I get past invoking the virtualbox mcandre/windows-amd64 and successfully ssh into the vm to begin building the pre requisites for a windows build but get stuck on ...

The syntax of the command is incorrect.
ssh -F vagrant/.vagrant/windows_config windows -- mkdir -p /c/Users/vagrant/msvc2015-win64
command failed: exit code 1

![image](https

[2018-08-11 12:14] PerlTester commented on #11
Looks like the -p directive for mkdir is not supported in Windows and the target directory should have the widows format, as in \c:\Users\vagrant\msvc2015-win64

[2018-08-11 12:45] ashkulz commented on #11
Weird, the vagrant image should start under git-bash. Are you on a physical Ubuntu machine?

[2018-08-11 14:13] PerlTester commented on #11
no I have ubuntu 18.04 as a virtual machine running in esxi5.5 and it
spawns a virtual box mcandre/windows-amd64 to ssh into as per the build
python in the packaging modeland thats where I am stuck now.

Thanks

P.

On Sat, Aug 11, 2018 at 2:45 PM Ashish Kulkarni <notifications@github.com>
wrote:

[2018-08-14 09:39] dcelasun commented on #2
Any progress on this?

[2018-08-20 07:15] peterchaula opened #12 "Docker build not working after upadting submodules"
`./build compile-docker stretch-amd64 ./../wkhtmltopdf release`

Error: Qt not present in wkhtmltopdf source

[2018-08-24 09:27] Tomsgu commented on #9
I don't have too much time to look into this (in comming days), but [here](http://docs.flatpak.org/en/latest/building.html) is a complete guide for flatpak as this is also my preference.

[Here](http://docs.flatpak.org/en/latest/introduction.html#reasons-to-use-flatpak) are also main reasons to use it.

[2018-08-30 22:42] sir-gon commented on #2
Oh pls! I i'm doing a lot of research for a headless solution for PDF generation and wkhtmltopdf is the best until now, but I have produced a huge docker image!

Alpine aproach would be perfect

[2018-08-30 22:45] jtraulle commented on #2
@sir-gon See my Dockerfile for this : https://github.com/Opencomp/Dockerfiles/blob/master/wkhtmltopdf/Dockerfile

[2018-08-31 06:14] chdanielmueller commented on #2
@sir-gon or feel free to use https://github.com/Surnet/docker-wkhtmltopdf

[2018-08-31 06:17] mikehaertl commented on #2
@chdanielmueller @sir-gon But the font issue mentioned in the issue description still isn't fixedin the Surnet images, right? This makes those images only partially useful.

[2018-08-31 06:53] chdanielmueller commented on #2
@mikehaertl That's right that issue is still open. A workaround is to use fonts loaded from the web. e.g. Google Fonts

@jtraulle Do you have any issues in your image with false fonts?

[2018-09-02 12:48] jtraulle commented on #2
@chdanielmueller I don't think so. Try it a tell me ;)

[2018-10-28 05:18] cjimti commented on #2
I have not yet experienced any font issues. It is possible I may just be using my build on such a limited set of pages that I have not noticed it. I use a binary build for alpine:3.7 from https://github.com/madnight/docker-alpine-wkhtmltopdf and add fonts. My docker file is here: https://github.com/txn2/n2pdf/blob/master/Dockerfile

https://github.com/txn2/n2pdf

I use this pretty heavily in my tx

[2018-11-09 21:42] franjaviersans commented on #11
Hello @PerlTester , did you manage to solve the issue? I'm also stuck in the same place.

[2018-11-12 22:38] neocogent opened #13 "Deb install on Ubuntu should run ldconfig after?"
Just installed this on my Mint 19 (Ubuntu 18.04) system and could not get it to work. I was trying to use with a python wrapper. It gave errors related to libwkhtmltox.so.0 not found. After a bit of detective work it turns out that ldconfig needs to be run to update paths after the lib is installed. After doing that the library was found and test code in python using it worked without error.

I wo

[2018-11-13 23:00] mmayer1 opened #14 "add support for Amazon linux distro for lambda"
There's a few people out there using wkhtmltopdf inside Amazon lambdas. It would be awesome to have a single statically linked executable that "just works" in AWS lambda. https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html

Vagrant box that appears to be the correct image:
https://app.vagrantup.com/mvbcoding/boxes/awslinux

[2018-11-14 22:38] mmayer1 commented on #14
Nevermind. I found out using the build from CentOs 6 seems to work.

[2018-11-16 08:31] PerlTester commented on #11
Hi Francisco,

Sorry fro not replying sooner but no I did not get it solved in an
automated way unfortunately. I ended up hacking the beast and manually
copying the source code across to the windows VM and then running the build
process manually.
Maybe you can provide some details to Ashish and see if he can help given
that the problem has affected someone else.

On the question of the build of wk

[2018-11-23 10:44] ViceIce opened #15 "[Windows] Silent install fails"
I'm trying to install with chocolatey, but it fails with exit code 2.
If i try to manually install silten it does nothing.

Tried on Windows  10,  Server 2018R2 and Server 2016.

Normal installation works as expected.

[code]

[2018-11-27 10:38] ViceIce commented on #15
If i use `cinst wkhtmltopdf --not-silent`, i get the follwing error:
![image](https://user-images.githubusercontent.com/1798109/49075761-bfcff480-f237-11e8-9fcf-af0faae3726e.png)

We use the chocolatey setting: `cacheLocation = \\fs\p\npm\choco-cache`

If i override cachelocation with `cinst wkhtmltopdf -c "c:\tmp"` it will work. It seems to be an chocolatey problem.

[2018-11-28 15:37] romaricdrigon commented on #1
Hello,

As AWS announced as AWS just announced [ARM-based EC2 instances)(https://aws.amazon.com/fr/blogs/aws/new-ec2-instances-a1-powered-by-arm-based-aws-graviton-processors/), a lot of people (including myself), having a compatible build would be great.
I'm not quite sure on how to get started with the build process, it would require adding an entry on `build.yml` and running it on an ARM machin

[2018-12-01 00:44] rhuddleston commented on #8
The main issue is many people want to run this in AWS lambda which requires it be a static binary. Thoughts on this?

[2018-12-05 21:27] Pulsar-san opened #16 "missing linux-generic"
I don't find the linux-generic-amd64.tar.xz package for the 0.12.5

[2018-12-06 16:11] Tomsgu commented on #16
This issue already exists https://github.com/wkhtmltopdf/packaging/issues/8

[2018-12-07 07:27] faheemhameed opened #17 "When can we have wkhtmltox-0.13.0-alpha for Mac OS X"
Hi there,

When can we have wkhtmltox-0.13.0-alpha for Mac OS X?

Many thanks,
Hameed

[2018-12-15 09:10] hyounesi commented on #8
Hi Guys,

would you please let us know if there is any plan for "linux generic amd64" package? Thanks

[2019-01-06 16:40] artyomboyko commented on #14
@mmayer1

Are you using `./build package-docker centos6-x86_64` command ? or custom vagrant target ?

[2019-01-07 16:04] mmayer1 commented on #14
I think we grabbed this download, and just pulled out the binary from that
https://downloads.wkhtmltopdf.org/0.12/0.12.5/wkhtmltox-0.12.5-1.centos6.x86_64.rpm

[2019-01-07 16:04] #14 closed

[2019-01-09 23:19] edoubleoo opened #18 "An Evansport (i686) package of 0.12.1 or 0.12.1.2 or 0.12.1.3 ?"
HI there, I've been on the hunt for a while for a working 0.12.1 (or 0.12.1.2 or 0.12.1.3) patched with qt and inclusive of its dependencies. It is starting to be my white whale.

Having tried the majority of the i386 and i686 packages available, I've been left with only partial success and would need a compiled package to complete the installation.

[2019-01-20 18:36] RyanBlundell commented on #8
I also need this, I use cloudways hosting which does not give me access to root directories. I can't run the latest version without having the wkhtmltox-0.12.4_linux-generic-amd64.tar.xz equivilent :(

[2019-01-21 10:56] meequz commented on #8
The project website says "Where are the “generic” Linux builds? Due to incompatibilities between library versions provided by each distribution, the only option is to use static linking – hence removed for now."

Any chance to have headless static build in the future? Maybe appimage build?

[2019-02-04 11:08] irbian opened #19 "Ubuntu 12 support"
hi!

Can we have the .deb for Ubuntu 12? Or at least the generic version

[2019-02-13 14:32] irbian commented on #8
Hi!

I´m having the same need here https://github.com/wkhtmltopdf/packaging/issues/19

Regards

[2019-02-26 09:10] vitalybibikov opened #21 "Alpine Support"
Alpine becomes quite popular when docker containers are used.
Thus It is good to have Alpine support by wkhtmltopdf.

[2019-03-21 11:57] ashkulz commented on #19
Ubuntu 12.04 was [EOL in 2017](http://releases.ubuntu.com/12.04/), so it's unlikely to be supported.

[2019-03-21 11:57] #19 closed

[2019-03-21 12:10] ashkulz commented on #13
Thanks for the report! I guess I need to add [--deb-shlibs](https://github.com/jordansissel/fpm/pull/405) when building the package.

[2019-03-21 12:11] ashkulz commented on #12
I guess you didn't use `git clone --recurse-submodules` while cloning the main repo. Please do that and try again, thanks!

[2019-03-21 12:11] #12 closed

[2019-03-21 12:14] ashkulz commented on #18
I think you're looking [for this](https://builds.wkhtmltopdf.org/0.12.1.3/). Let me know if that doesn't work for you.

[2019-03-21 12:14] #18 closed

[2019-03-21 12:16] ashkulz commented on #11
I recently rebuilt my machine, and I'm now getting this error as well. Should be having a fix for it in a day or two.

[2019-03-21 12:42] PerlTester commented on #11
Thanks Ashish,

P.

On Thu, Mar 21, 2019 at 1:16 PM Ashish Kulkarni <notifications@github.com>
wrote:

[2019-03-21 12:52] ashkulz commented on #6
I'll be adding a `centos7-ppc64le` for the next release.

[2019-03-25 09:33] ashkulz commented on #21
Duplicate of #2

[2019-03-25 09:33] #21 closed

[2019-03-25 12:14] #11 closed

[2019-03-25 12:35] ashkulz commented on #11
@PerlTester, @franjaviersans: can you try with the latest commit and let me know if it doesn't work?

[2019-03-25 12:35] ashkulz commented on #16
Duplicate of #8

[2019-03-25 12:35] #16 closed

[2019-03-25 12:40] ashkulz commented on #15
Would appreciate your adding a comment on the [chocolatey page](https://chocolatey.org/packages/wkhtmltopdf), but this is something that's not really in scope for this project.

[2019-03-25 12:40] #15 closed

[2019-03-25 12:50] ashkulz commented on #17
I haven't worked on `0.13` in a long time, so not sure of any ETA. It requires porting the `0.12` branch to using the build system for Qt5 (which has a lot of new dependencies).

[2019-03-25 12:50] #17 closed

[2019-03-27 09:43] franjaviersans commented on #11
Hello @ashkulz . I tried to build the msvc2015-win64 target and I couldn't do it.

I receive this:

==> windows: Waiting for machine to boot. This may take a few minutes...
    windows: SSH address: 127.0.0.1:2200
    windows: SSH username: vagrant
    windows: SSH auth method: private key
Timed out while waiting for the machine to boot.

But again, I am running the program on a Ubuntu inside a VM

[2019-03-27 11:36] ashkulz commented on #11
Any particular reason why you're doing it via nested VMs? You might try to increase the boot timeout if you continue with that approach, it's bound to be very slow otherwise.

Also, if you see the [Travis CI configuration](https://github.com/wkhtmltopdf/wkhtmltopdf/blob/af3694d8/.travis.yml#L52), you can easily bootstrap it on a Windows VM ... the only reason I set it up this way is because I use

[2019-03-27 21:53] franjaviersans commented on #11
Yeah, the thing is that I use Windows as main OS and I don't have any Ubuntu system at my disposal.

[2019-03-28 03:57] ashkulz commented on #11
Then just run the commands linked above and see if you can get a build working directly on Windows (assumes you have chocolatey installed).

[2019-04-02 17:25] bugsoftware opened #22 "Suse Linux RPM"
Hi,

What would be the possibility of compiling, making a build for Suse Linux ? I can provide you platform with SSH if needed.

I am trying without much success.

[2019-04-02 17:28] ashkulz commented on #22
Should be straightforward if there's a docker image available: just install the required development libraries and you should be good to go (see Ubuntu / Debian as an example).

[2019-04-02 22:42] bugsoftware commented on #22
Unfortunately I tried without much success. I even tried to compile from source using python, both without much success

[2019-04-03 02:44] ashkulz commented on #22
What's the exact distro version you were using? See the README for steps on compiling it under Docker.

[2019-04-09 15:02] ashkulz commented on #2
No one has worked on it, so still pending. PR would definitely be welcome!

[2019-04-10 04:37] ashkulz commented on #2
Also, forgot about #20 by @anujith-singh -- it has the build system changes but I doubt it works because of the missing Qt patches.

[2019-04-10 07:01] anujith-singh commented on #2
Yes @ashkulz Qt patches are missing in it

[2019-04-23 14:37] P9GIT opened #23 "Ubuntu 19 support"
Any plans for a build for Ubuntu 19?

[2019-04-23 14:49] ashkulz commented on #23
Doesn't the Ubuntu 18.04 build work?

[2019-04-24 08:12] P9GIT commented on #23
@ashkulz

I get a dependency error when installing https://downloads.wkhtmltopdf.org/0.12/0.12.5/wkhtmltox_0.12.5-1.bionic_amd64.deb
on a vanilla Ubuntu Disco Dingo (19) docker image.

[code]

Maybe you or somebody else has encountered this before?
Thanks.

[2019-04-24 08:21] ashkulz commented on #23
Just run `apt-get install -f` which should install the missing package.

[2019-04-24 08:21] #23 closed

[2019-04-24 09:21] P9GIT commented on #23
Hi @ashkulz

Just to round this issue up in case others read this.

The real problem is that I did not run apt-get update prior to the install. The dependencies will thereafter be fulfilled when doing "apt-get install ./wkhtmltox_0.12.5-1.bionic_amd64.deb".
Rookie mistake :(
Sorry for bothering you with this.

[2019-04-26 12:47] AlainVanUtterbeeck opened #24 "Odoo 9 on Debian 10: requires wkhtmltopdf 0.12.1"
I installed Odoo 9 on a new debian 10 server.
All works fine except I don't find a working wkhtmltopdf version.
Could someone help me on this?

[2019-04-26 12:49] ashkulz commented on #24
Did you try the builds from https://builds.wkhtmltopdf.org/0.12.1.3/ and see if they work?

[2019-04-26 12:50] ashkulz commented on #22
Are you interested in packaging for your distro?

[2019-04-26 12:58] bugsoftware commented on #22
We essentially use SUSE and I was trying to install it to generate PDFs for a customer. We have gave up because we couldn't install it.

[2019-04-26 13:00] ashkulz commented on #22
Without knowing the distro version, I can't really help

[2019-04-26 13:04] AlainVanUtterbeeck commented on #24
I tried stretch_amd64 but that didn't work.

On Fri, Apr 26, 2019 at 2:49 PM Ashish Kulkarni <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gaming Technology nv/sa located in Belgium (BE).The
messages you s

[2019-04-26 13:05] ashkulz commented on #24
What's the error you got?

[2019-04-26 13:07] AlainVanUtterbeeck commented on #24
I see, dependency problem: libssl1.0.2

On Fri, Apr 26, 2019 at 3:05 PM Ashish Kulkarni <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gaming Technology nv/sa located in Belgium (BE).The
messages you send a

[2019-04-26 13:16] AlainVanUtterbeeck commented on #24
alain@debian10:~/Downloads$ sudo apt-get install libssl-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
libssl-dev is already the newest version (1.1.1b-2).
libssl-dev set to manually installed.
You might want to run 'apt --fix-broken install' to correct these.
The following packages have unmet dependencies:
 wkhtmltox : Depends: libssl1.0.2 but it is n

[2019-04-26 13:20] bugsoftware commented on #22
SLES 15

[2019-04-26 13:40] ashkulz commented on #24
Ah I see, those are stale and need to be rebuilt. Will do that over the weekend.

[2019-04-26 17:38] AlainVanUtterbeeck commented on #24
Great, thanks in advance

Op vr 26 apr. 2019 15:40 schreef Ashish Kulkarni <notifications@github.com>:

[2019-04-29 06:49] AlainVanUtterbeeck commented on #24
Hello Ahish, were you able to do the build this weekend?

On Fri, Apr 26, 2019 at 7:38 PM Alain Van Utterbeeck <alain@drgt.net> wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gaming Technology nv/sa located in Belgium (BE).The
messag

[2019-04-29 12:06] ashkulz commented on #24
It failed, pushed some commits to the branch and running it again.

[2019-04-29 12:11] ashkulz commented on #22
What's the nearest equivalent image available on Docker? I could only find [opensuse/leap:15](https://hub.docker.com/r/opensuse/leap).

[2019-04-29 12:13] bugsoftware commented on #22
Yep. That's about it. OpenSuse

[2019-04-30 06:25] ashkulz commented on #24
Please try the [0.12.1.4 builds](https://builds.wkhtmltopdf.org/0.12.1.4/) and report back if you face issues.

[2019-04-30 13:50] AlainVanUtterbeeck commented on #24
Hello Ashish, when I try to install I get this error:

alain@debian10:~/Downloads$ sudo dpkg -i
wkhtmltox_0.12.1.4-1.stretch_amd64.deb
tar: Archive is compressed. Use -J option
tar: Error is not recoverable: exiting now

I did not have this problem with 0.12.1.3~stretch.....

On Tue, Apr 30, 2019 at 8:25 AM Ashish Kulkarni <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Develop

[2019-04-30 14:28] ashkulz commented on #24
Looks like you're hitting
https://github.com/jordansissel/fpm/issues/1612 -- probably will have
to rebuild the release.

[2019-04-30 14:40] AlainVanUtterbeeck commented on #24
Looks like it, sorry..

On Tue, Apr 30, 2019 at 4:28 PM Ashish Kulkarni <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gaming Technology nv/sa located in Belgium (BE).The
messages you send and/or receive ar

[2019-05-02 11:46] #24 closed

[2019-05-03 12:06] ashkulz commented on #24
Please check the [0.12.1.4](https://builds.wkhtmltopdf.org/0.12.1.4/) builds again.

[2019-05-03 12:51] AlainVanUtterbeeck commented on #24
Thanks, it installed fine this time.
I'll have to wait till monday to do a functional test and will keep you
posted.

On Fri, May 3, 2019 at 2:06 PM Ashish Kulkarni <notifications@github.com>
wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is fr

[2019-05-09 08:06] AlainVanUtterbeeck commented on #24
I have completed testing the version 0.12.1.4 that you created on Odoo 9.
All works fine!
Thanks for a great job!
Greetings,
Alain

On Fri, May 3, 2019 at 2:51 PM Alain Van Utterbeeck <alain@drgt.net> wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-m

[2019-05-14 20:10] tflanagan opened #25 "How to Build: Debian Jessie"
I've installed 0.12.5 via apt, so I know it's possible.

But I cannot for the life of me get it to compile via source.

Do you have exact steps to build this? I've looked at various issues, but none are helping.

Various attempts:
From #12:
[code]

From #7
[code]

Any help would be appreciated.

(Yes, I've properly cloned the wkhtmltopdf and qt repos)

[2019-05-15 05:13] ashkulz commented on #25
What's the OS you're running it on and the versions of dependent tools i.e. `python` and `docker`? You should be able to generate a build using `./build package-docker jessie-amd64 ~/wkhtmltopdf` (not sure if an absolute path is required, I always used one).

[2019-05-15 13:02] tflanagan commented on #25
@ashkulz

Running Debian Jessie;

[code]

I've tried a couple relative and absolute paths, results in the same error:

[code]

[code]

[code]

[2019-05-15 13:10] ashkulz commented on #25
I think the docker version is too old, can you check with the latest version? It works when running from Ubuntu 18.04.

[2019-05-15 13:11] tflanagan commented on #25
@ashkulz Thanks for the quick response - I'll give it a try on a newer machine and report back

[2019-05-15 15:41] tflanagan commented on #25
Ah, yes - I am a noob when it comes to docker's ecosystem. Updating docker has resolved this exit code failure.

Thanks again.

[2019-05-15 15:41] #25 closed

[2019-05-15 15:44] ashkulz commented on #25
docker 1.6.2 is from 2015, guess a lot has changed...

[2019-05-15 15:45] tflanagan commented on #25
Yea the official source lists for Debian are a bit dated for Docker...

[2019-06-13 14:28] tmiller-cspeed opened #26 "Add support for statically compiled binaries"

[2019-06-14 05:48] ashkulz commented on #26
Duplicate of #8 -- it's already documented in the downloads FAQ.

[2019-06-14 05:48] #26 closed

[2019-06-20 08:56] niner commented on #22
I have successfully added support for openSUSE Leap 15.0 in:
https://github.com/niner/packaging/commit/6fab13d06ef88e6eac9e589fc1b552d0f2eb6b27
I'd send a pull request, but Github fails strangely with a 404, so could you please just pull the commit?

[2019-06-20 12:58] ashkulz commented on #22
Thanks, @niner! I think you can create a PR [using this link](https://github.com/wkhtmltopdf/packaging/compare/0.12...niner:0.12).

[2019-07-02 12:36] jttbharoo opened #28 "QXcbConnection: Could not connect to display"
QXcbConnection: Could not connect to display
wkhtmltopdf exited with code 134

in

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.6 LTS
Release:        16.04
Codename:       xenial

[2019-07-04 11:45] BlindingDark commented on #1
I tried to build on arm64, but some compilation errors have occurred.
[code]

It seems to be qt4 own bug. http://lists.openembedded.org/pipermail/openembedded-core/2014-November/098726.html

I even tried to change `int32_t` to `int64_t`, solved this problem but caused another problem. It can't pass COMPILE_ASSERT in file `src/3rdparty/webkit/Source/JavaScriptCore/runtime/JSGlobalData.cpp:126`

[co

[2019-07-07 08:55] ashkulz commented on #28
Wrong repository, looks like you are not running the distro-provided version.

[2019-07-07 08:55] #28 closed

[2019-07-10 03:46] BlindingDark opened #30 "Problems when compiling on armv8 platform."
#1

I tried to build for arm64, but some compilation errors have occurred.

[code]

It seems to be qt4 own bug. (http://lists.openembedded.org/pipermail/openembedded-core/2014-November/098726.html)

I tried change `int32_t` to `int64_t`, solved the cast problem but caused another problem:
It can't pass COMPILE_ASSERT at `src/3rdparty/webkit/Source/JavaScriptCore/runtime/JSGlobalData.cpp:126`

[cod

[2019-07-10 05:34] ashkulz commented on #30
Unfortunately, I don't have access to an `armv8` system or the time to debug this. I'd suggest you look at patches made for qt4 in other distributions and/or BSDs, as they may give you an idea of what may work. I suspect changes in `JSValueInlineMethods.h` is required.

[2019-07-18 03:46] lusinh opened #31 "How to build without patched Qt"
I only need some simple function of wkhtmltopdf. My docker wkhtmltopdf work perfectly.
But, with the version with patched Qt downloaded in wkhtmltopdf site, It not work correct, the pdf file broken table border.
In my docker, wkhtmltopdf is reduced version. When I run `wkhtmltopdf -h`, the result is:
[code]

I need run wkhtmltopdf on centos 6. Thus, I need build my self wkhtmltopdf without patched

[2019-07-18 05:25] ashkulz commented on #31
Just install the necessary libraries and run `qmake && make`? You can see that it's a tested configuration by looking at [.travis.yml](https://github.com/wkhtmltopdf/wkhtmltopdf/blob/0.12.5/.travis.yml#L45). Note that CentOS may have older libraries than what distribution you're using in docker, so the output may or may not be what you want.

[2019-07-18 05:25] #31 closed

[2019-08-15 12:50] goodforever opened #32 "build raspbian.stretch-armhf"
Hi I build raspbian.stretch-armhf ,then I got
./build package-docker raspbian.stretch-armhf  ../wkhtmltopdf
enabling qemu-aarch64 ...cat: write error: Invalid argument
docker run --rm --privileged fkrull/qemu-user-static enable
command failed: exit code 1

[2019-08-16 04:26] ashkulz commented on #32
@goodforever: are you running on a machine where you have `sudo` access with kernel 4.8 or above?

[2019-08-17 01:16] goodforever commented on #32
@ashkulz I have sudo ,but the kernel maybe not 4.8.
Thanks!

[2019-08-17 19:11] stockersky opened #33 "Get the right build for quality documents AND Docker"
I recently tried wkhtmltopdf and was very pleased by the result.

I first installed it on my Fedora 30 workstation from Fedora repo : results were perfect and crisp!

Then, I wanted to deploy it on Docker. I first used Alpine Linux. Then, while executing Docker instance on my workstation, I noticed this was not that crisp anymore : images were distorted, etc...

I then deployed on a Docker Debian

[2019-08-17 20:25] stockersky commented on #33
I rebuilt, but this time from master. No difference....

Alright, I unpacked Fedora RPM and looked at their spec :+1:
[code]

**So, they use qt5.**

But, the build process described here use qt4 https://github.com/wkhtmltopdf/qt (described as forked Qt 4.8 with wkhtmltopdf-specific patches). I did install this with `git clone --recursive`.

Indeed, the documents' crispiness came from qt5. I guess

[2019-08-17 20:27] stockersky commented on #33
What is the use of Xrfb (virtual xserver for headless server) in wkhtmltopdf?
The wkhtmltopdf Qt4 patched works without it...

While trying with the stock Debian wkhtmltopdf package, I could not make it work with AWS Docker when using Xrfb... Maybe I did it wrong?
[code]

I guess, it worked on my Docker workstation as my host as a GPU and a Xserver started...

[2019-08-19 12:06] ashkulz commented on #32
@goodforever: please reopen if you get an issue with later kernels, as this is documented in README.

[2019-08-19 12:06] #32 closed

[2019-09-11 08:59] penzhaohui commented on #30
You could try the docker image multiarch/qemu-user-static, which is to enable an execution of different multi-architecture containers by QEMU. Currently, I also expect one complied package for arm64v8/debian:stretch platform.

[2019-09-11 09:23] ashkulz commented on #30
@penzhaohui: If you see `fkrull/qemu-user-static` is used already which speeds up things on Linux 4.8+. As I said earlier, I don't have time to debug this ... happy to review if you find/develop any patches.

[2019-09-11 12:41] penzhaohui commented on #30
@ashkulz . Fine, thanks for your response. I will have a try. Just for reference, there are some available packages for ARM architecture.
-----------------------------------------------
http://tardis.tiny-vps.com/aarm/packages/w/wkhtmltopdf/

[2019-09-12 04:48] ashkulz commented on #30
@penzhaohui: those look to be the unpatched Qt5 builds, not Qt4 builds. I haven't had time to port the patches to Qt5 yet.

[2019-09-15 13:52] hkalman opened #34 "Synology ipkg package"
Hello,

I would like to ask you to create ipkg packages for Synology Diskstations too when you create a new release.

Thanks

[2019-09-16 03:28] penzhaohui commented on #30
@ashkulz Thanks a lot! I got the same error as @BlindingDark described, and also compare the project structure between qt4.8.7 and qt5, looks like there is huge difference.

https://download.qt.io/archive/qt/
https://github.com/qt/qtbase

[2019-09-22 22:16] penzhaohui commented on #30
The file wkhtmltox_0.12.5-1.stretch_arm64.deb could be built after perform the following 2 changes.
1.  Change int32_t to int64_t
2.  Change char storage[64]; to char storage[128]

However, it does not work. The following show how it works in arm64v8 docker container.
# wkhtmltopdf -V
wkhtmltopdf 0.12.5 (with patched qt)
# wkhtmltopdf http://www.baidu.com ./baidu.pdf
Loading pages (1/6)
qemu: unca

[2019-10-11 08:00] david-kristin opened #35 "Debian Stretch build"
Hello,

is there any 0.13.X build for a Debian Stretch (or Buster)?

[2019-10-15 16:33] fsateler opened #36 "Please publish debian buster build for 0.12.5"
Hi,

Commit https://github.com/wkhtmltopdf/packaging/commit/66ddc3ee345226521cf037bd5f85089008abb8c0 added support for building on debian buster, which is the current debian stable release. However, such a build does not exist on the homepage yet:

![image](https://user-images.githubusercontent.com/1322013/66850931-22190d00-ef50-11e9-804e-a3c43bdcd6a4.png)

It would be awesome if such a binary wou

[2019-10-18 05:12] ashkulz commented on #36
I believe the `stretch` build should work on `buster`, although I do agree this is pending :+1:

[2019-10-18 22:58] stephengtuggy commented on #36
I'm not so sure that it works on buster.

I have a copy of the .deb file built for `buster` using the provided build system. I can provide it if the wkhtmltopdf maintainers want me to.

[2019-10-18 22:59] stephengtuggy commented on #36
Exact filename: `wkhtmltox_0.12.5-1.buster_amd64.deb`

[2019-10-21 09:40] kaisco opened #37 "build docker-images buster-amd64 error"
## Which step did I make mistakes?
Any help, Thx

- My PC:
macOS Mojave
Version 10.14.5
Python 2.7.10

- Docker:
Docker Engine - Community
Version 19.03.1
- wkhtmltox
Version 0.12.4
[code]

[code]
error :
[code]

[2019-10-23 02:37] kaisco commented on #37
It looks like same with  https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3444

[2019-10-23 09:18] ashkulz commented on #37
I think you're trying to build an older version of wkhtmltopdf, which doesn't have the Qt patches for OpenSSL 1.1 compatibility. You'll have to backport them to your local fork to do that.

[2019-10-23 11:30] roebert opened #38 "Build for sles 12.4 needed"
Hello,

we need the 0.12.5 on a SLES 12.4 server.
i downloaded the sources and if i get this right i would need a docker image for sles 12.4 which i cant find - so no possibility to compile this?!

with best regards, roebert

[2019-10-24 21:11] ananiasfilho commented on #6
I saw the centos7-ppc64le rpm package in https://builds.wkhtmltopdf.org/wkhtmltox-0.12.5-1.centos7.ppc64le.rpm and confirm its works!
But, i cant find package to Ubuntu 16.04 and 18.04 ppc64le. Have package to these version?
Im running ppc64le container, so i cant build it under a container.

[2019-10-25 04:20] ashkulz commented on #6
@ananiasfilho: you can build your own packages easily by changing `build.yml` in this repository and checking if it works yourself ... I don't see a point in supporting every build variation :)

[2019-10-25 05:24] kaisco commented on #37
@ashkulz thx your response.

I do that success on Jessie(OpenSSL Version:1.02). But I'm failed when downgraded OpenSSL version to 1.0.2 on Stretch/Buster.

If somebody makes it on Stretch/Buster, plz tell me.

[2019-10-25 05:24] #37 closed

[2019-10-25 12:09] ashkulz commented on #37
@kaisco: you just need to backport the relevant commits, see the `0.12.1.4` release and the `0.12.1.x` branch which shows how it was done for 0.12.1.

[2019-10-25 12:13] ashkulz commented on #38
See #27 on a WIP build for OpenSUSE -- which should be pretty similar. If there's no docker image, I'm not sure how you can compile for it 🤷‍♂

[2019-10-29 20:38] werddomain opened #39 ".net core"
Is there an easy way to port this to .net core?

I have see some wrapper for .net Framework. (TuesPechkin is verry nice).

.net core aim to be for all platforms, so if you can target .net standard 2.0, we will be able to use this on MacOs, Android, IOS, Asp.Net Core, Windows Applications, Linux, etc ...

Is there anny work in progress ?

[2019-10-31 01:57] ashkulz commented on #39
It would be better to ask this question in the TuesPechkin repository.

[2019-10-31 01:57] #39 closed

[2019-10-31 22:54] dnorgaard-usgs opened #40 "Request build for CentOS 8"

[2019-11-02 23:48] pedrofurtado commented on #40
@marciojg @willradi @ashkulz 👍

[2019-11-04 08:52] stanleyk commented on #36
Hi, I am not able to build it for buster because of the missing Docker image tagged `0.12_buster-amd64`, are you going to add it anytime soon? Thanks.

@stephengtuggy Would you be so kind to share the build with me? How did you build it? Thank you!

[2019-11-04 12:54] matthewblott opened #41 "Build command doesn't work as expected"
I ran the command to build for Linux as instructed [here](https://github.com/wkhtmltopdf/packaging/issues/7) but I get an error telling me there are too few arguments.

[code]

I don't really understand the instructions on the home page either. I've had a look at the ```.yml``` file where it says there are instructions but it isn't at all clear to me what commands I would run for a specific build.

[2019-11-05 12:07] ashkulz commented on #36
I haven't got around to building it yet, but you should be able to build the docker image locally using `./build docker-images buster-amd64` and then running the `./build package-docker` command.

[2019-11-05 12:09] ashkulz commented on #41
So if you run it you get
[code]
I think that's pretty clear to me, you need to run something like (assuming source is in `~/wkhtmltopdf`)
[code]

[2019-11-05 12:10] ashkulz commented on #41
I'd appreciate a PR with suggested changes in help text, thanks!

[2019-11-05 12:10] #41 closed

[2019-11-07 12:22] joechwong opened #42 "Lambda function convert HTML to PDF using wkhtmltopdf failed after upgraded the runtime from Node.js 8.10 to 10.x deployed on Amazon Linux 2"
Error happened after deployed to AWS (new AWS Linux 2 with node.js 10.x runtime). It was working with node.js 8.10 runtime with previous AWS Linux.

**Description**
Due to end of life support of Node.js 8.10 runtime for AWS Lambda function, we are currently undergoing an upgrade to Node.js 10.x runtime which runs on a new version of Amazon Linux called the Amazon Linux 2.

Once deployed my applica

[2019-11-11 11:47] ashkulz commented on #40
If someone has time, it should be very easy to create a CentOS 8 build -- just modifying the template for earlier releases in `build.yml` should be enough, I think. PRs are welcome :grin:

[2019-11-14 05:04] #40 closed

[2019-11-14 05:07] ashkulz commented on #42
Not sure if you saw [my comment here](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/4523#issuecomment-552774187) -- it looks like a package is missing?

[2019-11-14 05:19] joechwong commented on #42
Yeah thanks, I saw that. But I need to take a pause in looking further.  Will come back later on. Thanks again.

[2019-11-14 09:39] ashkulz commented on #42
Cool, please reopen this issue if you find it's something else.

[2019-11-14 09:39] #42 closed

[2019-11-14 09:46] ashkulz commented on #40
@pedrofurtado: apparently, the 32-bit build fails hence I've removed it in defce5220ebc1d90db0fe49dc8fc14e5b1c6d799 -- should've checked before merging :see_no_evil:

[2019-11-14 11:20] pedrofurtado commented on #40
@ashkulz Thanks for feedback! 🤝

[2019-11-18 04:31] ashkulz commented on #36
Done, see wkhtmltopdf/wkhtmltopdf@57c23e0 -- sorry for the delay!

[2019-11-18 04:31] #36 closed

[2019-11-18 04:31] ashkulz commented on #40
Done, see wkhtmltopdf/wkhtmltopdf@57c23e0 -- sorry for the delay!

[2019-12-05 20:53] woodyza commented on #31
Hi! I have this same requirement, but I could use a little more detail on the suggested approach please.

What environment would this be in; the target Centos distro with the wkhtmltopdf source loaded - i.e. not using the packaging system in this repo?

[2019-12-06 05:07] ashkulz commented on #31
@woodyza: you're right, you'll have to install `libqtwebkit5-dev` or equivalent package and just compile like a normal qt5 application.

[2019-12-11 09:21] luca-vercelli opened #44 "Build for Raspberry Pi / ARM"
Hello,
I would like to know what is (if any) the roadmap to build wkhtmltox for Raspbian (Raspberry Pi, ARM processor).

See e.g.
https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1868
and https://github.com/odoo/odoo/issues/1093

I cannot find any "official" documentation.

My use case is for Odoo on Raspbian.

Regards.

[2019-12-11 13:19] luca-vercelli commented on #44
Sorry, I didn't realize the package already exists:

https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/wkhtmltox_0.12.5-1.raspbian.stretch_armhf.deb

I close the issue.

[2019-12-11 13:19] #44 closed

[2019-12-12 05:17] ashkulz commented on #44
@luca-vercelli: there's no `buster` image -- do you need one? Also, I see that the docker repo has changed to https://hub.docker.com/r/balenalib/rpi-raspbian -- would you be willing to test new builds, both for `stretch` and `buster`?

[2019-12-12 08:03] luca-vercelli commented on #44
At the moment I don't need that. I'm trying to use the stretch package.

[2019-12-12 09:14] ashkulz commented on #44
@luca-vercelli: let me know if it works, I may ask you try another build with the new docker image linked above sometime next week :grin:

[2019-12-14 08:40] luca-vercelli commented on #44
Yes, it works great!
Let me know if and how I could test the new build (I am using Raspbian GNU/Linux 10)

[2020-01-03 09:05] bish0polis opened #45 "SRPMs may be missing"
Hi.  I didn't see any SRPMs anywhere.  Please, if the readme.md is missing it, can it please be added?

[2020-01-03 09:05] bish0polis opened #46 "YUM repo may be missing"
I also did not notice the yum repo URL in the readme.md file.  Please, can this be added to documentation?

[2020-01-03 11:26] ashkulz commented on #45
It uses [`fpm`](https://github.com/jordansissel/fpm) to be build the RPMs directly, so there isn't a SRPM at all.

[2020-01-03 11:26] #45 closed

[2020-01-03 11:27] ashkulz commented on #46
There isn't a repo URL, you have to download the RPM and install it directly.

[2020-01-03 18:27] bby-bishopclark commented on #46
AH.  Supply chain issues, then.  Thanks!  :-/

[2020-01-03 18:28] bby-bishopclark commented on #45
That's a pedigree/provenance concern.  Thanks, though.

[2020-01-04 06:35] #46 closed

[2020-01-16 11:37] soullivaneuh commented on #8
@p3x-robot Do you know the reason of this?

Shipping OS specific release is a good thing, but why removing the generic one? It was working great.

Now, the OS choice is limited. For our case, we have a gentoo server.

This is a solution, but why not simply integrate this generic build?

[2020-01-16 13:05] ashkulz commented on #8
See the saga on wkhtmltopdf/wkhtmltopdf#3001 -- due to the breaking OpenSSL deprecations, it's hard to build a binary which works across distributions unless you statically link to it -- which isn't a smart choice at all.

[2020-01-16 14:34] soullivaneuh commented on #8
This is not the question. The issue is about 0.12.5 release.

[2020-01-16 17:51] BiggerNoise opened #47 "Checksum for buster missing from SHA256SUMS"
The SHA256SUMS file does not contain a signature for debian 10/buster (wkhtmltox_0.12.5-1.buster_amd64.deb).

[2020-01-16 23:16] bish0polis commented on #46
I grabbed it from EPEL.  SO easy.  :-|

[2020-01-17 03:45] BiggerNoise commented on #47
Ouch. Thanks for the reply though. I'm not real familiar with releasing signed downloads, so I haven't got any suggestions to offer.

Feel free to close this if you like. You might keep it open just so you don't keep getting duplicates.

And thanks for maintaining wkhtmltopdf!

[2020-01-17 10:12] ashkulz commented on #47
I'm planning to release `0.12.6` this, so that may be moot. I'll keep this open till that's released :+1:

[2020-01-17 15:41] matelau opened #48 "Let's Encrypt certificate has expired"
I'm getting the following error when attempting to apt-get on Ubuntu Docker Image...

[code]

Command being run
 wget -O wkhtmltopdf.deb https://downloads.wkhtmltopdf.org/0.12/0.12.5/wkhtmltox_0.12.5-1.bionic_amd64.deb     && dpkg -i wkhtmltopdf.deb     && rm wkhtmltopdf.deb

I'm aware of the `--no-check-certificate` option. I just thought I would raise awareness of the issue.

[2020-01-17 18:27] ashkulz commented on #48
See wkhtmltopdf/wkhtmltopdf#4586 -- it was fixed almost 17 hours ago. Are you still facing this issue?

[2020-01-18 00:58] stephengtuggy commented on #41
@ashkulz Can this issue be reopened?

I'd be happy to provide a PR with suggested changes to help text. I just want to be sure that my understanding is correct before I do.

Seems to me that the main additional point that needs to be mentioned, is that there are 4 different `./build` commands, and they have to be run in order. You can see these 4 different subcommands when you run `./build` by its

[2020-01-18 04:32] ashkulz commented on #41
@stephengtuggy it's always better to discuss over concrete examples, so a PR would always be welcome!

Regards the build commands, `docker-images` doesn't need to be run (they're published at [DockerHub](https://hub.docker.com/r/wkhtmltopdf/packaging/tags)) and if you use the latter commands they call their dependents (e.g. `package-docker` calls `compile-docker`; `release` calls `package-docker`

[2020-01-18 18:54] ashkulz commented on #48
Please reopen if you are facing an issue.

[2020-01-18 18:54] #48 closed

[2020-01-18 22:47] stephengtuggy commented on #41
@ashkulz Cool. Thanks for the clarification! I will try to put together an actual PR sometime in the next few days.

[2020-01-21 15:32] ashkulz commented on #47
See #49 -- I'm hoping to have all packages be generated automatically from a signed commit, so I'm not sure it makes sense to keep a `SHA256SUMS` around 🤷‍♂

[2020-01-21 15:32] #47 closed

[2020-01-21 15:36] ashkulz commented on #34
@hkalman I'm not sure how to prepare them, are they supported by `fpm`?

[2020-01-21 16:06] ashkulz opened #50 "rework Raspberry Pi build"
The docker repository used for the Stretch build [has been deprecated](https://hub.docker.com/r/resin/rpi-raspbian). We need to investigate whether the [new repository](https://hub.docker.com/r/balenalib/rpi-raspbian) generates usable packages, and merge them if we're able to get feedback whether they work.

We should also probably add a `buster` build as well.

[2020-01-21 16:09] ashkulz commented on #44
@luca-vercelli: would you be able to basic testing once I implement #50?

[2020-01-21 16:18] luca-vercelli commented on #44
@ashkulz what do you need exactly? If you can generate a new package, I could install it and try it.

[2020-01-21 16:19] ashkulz commented on #44
That's what I need, basically! Will try to produce it in a day or two 👍

[2020-01-24 04:42] ashkulz commented on #50
@GM-Script-Writer-62850 @luca-vercelli: can you try if the [dev snapshot](https://github.com/wkhtmltopdf/packaging/releases/tag/0.12.6-dev-20200124) works for you? The `buster` build failed, not sure why -- I don't think I'll have time to debug this in the near future, unfortunately.

[2020-01-24 13:32] luca-vercelli commented on #50
@ashkulz I have installed the new package and I printed a pair of invoices with Odoo. Package seems to work as expected.

[2020-01-25 05:48] ashkulz commented on #50
Thanks for the confirmation, @luca-vercelli! I've merged the stretch changes, still need to work on the `buster` build hence leaving this issue open.

[2020-01-25 06:17] ashkulz commented on #35
@david-kristin: sorry for the late reply. The version you get in the Debian repos is effectively the same build that was posted earlier, as it works with Qt 5 and requires xvfb. I've updated the download FAQ to reflect this status.

[2020-01-25 06:17] #35 closed

[2020-01-25 12:57] GM-Script-Writer-62850 commented on #50
Installed with:
`sudo apt install ./wkhtmltox_0.12.6-0.20191125.22.dev.2a5f250.raspbian.stretch_armhf.deb`
ran with:
`/usr/local/bin/wkhtmltopdf --print-media-type /tmp/General\ Purpose\ Invoice.html test.pdf`
seems fine to me

[2020-01-29 16:09] sxiii opened #53 "Can we have a static latest version of wkhtmltox?"
I'm trying to make it work on a system that allows either use static builds or building from source; but building from source of this thing is way too long & hard because of the qt-related issues. Is it possible to get static binaries?

[2020-01-31 12:03] ludimassa commented on #34
no synology don't have fpm by default

It is very important also for my project install it on synology!

An alternative way is install docker on synology but I don't like this solutions

[2020-02-05 04:14] ashkulz commented on #53
What is the target platform you're trying to use it on?

[2020-02-05 09:58] sxiii commented on #53
@ashkulz JLinux: https://jcloud.no -> it's a source-based distro that mostly use compiled-in software just like Gentoo probably.

[2020-02-05 13:15] chrisc0 opened #54 "Please create build for Ubuntu 19.10 with patched Qt"
Please create build for Ubuntu 19.10 with patched Qt.  Thank you

[2020-02-05 14:40] ashkulz commented on #54
@chrisc0: does the Ubuntu 18.04 package not work? I'm not really interested in supporting a distribution which will be EOL very soon, I'd rather wait and support 20.04 LTS

[2020-02-05 14:48] ashkulz commented on #53
I'm not sure what's the problem in building from source -- if you want to use the unpatched Qt5 binaries, it's a very quick build. For the patched Qt4 build, it's extensively documented via `build.yml` -- if you face problems in getting it to compile, please comment over here.

[2020-02-05 15:50] chrisc0 commented on #54
Yes, that works! I didn't even think to try and use the old version.  Thanks

[2020-02-05 15:50] #54 closed

[2020-02-17 04:32] keshcode opened #55 "Build for centOS 7"
I am trying to build binary for centOS7 . can any help ? i cannot upgrade docker version in env to the mentioned version. Is there any other way to build it .

[2020-02-17 04:57] ashkulz commented on #55
You can build the binary on any machine, `docker` doesn't need be present on the deployment host. Also, there's a CentOS 7 RPM in the [the latest dev snapshot](https://github.com/wkhtmltopdf/packaging/releases).

[2020-02-17 04:57] #55 closed

[2020-02-17 06:21] keshcode commented on #55
i am getting this error
`[Prism-pro-vm@Prism-pro-vm packaging]$ python build compile-docker centos7-x86_64 wkhtmltopdf build1
docker - version 1.5
Copyright 2003, Ben Jansens <ben@orodu.net>

Usage: docker [OPTIONS]

Options:
  -help             Show this help.
  -display DISLPAY  The X display to connect to.
  -border           The width of the border to put around the
                    system

[2020-02-17 06:24] keshcode commented on #55
This is due to older docker version

[2020-02-18 06:32] keshcode commented on #55
Thank you @ashkulz  , figured out binary generation.This was really usefull https://dev.azure.com/wkhtmltopdf/packaging/_build/results?buildId=12&view=logs&j=38854c4b-8c3d-5a4a-a586-99b1286a488a&t=65ea858f-786c-5dc7-eaee-3c57dc8cd320  Let me know if i can configure improve the documentation.

[2020-02-19 08:13] ashkulz commented on #55
If you feel the documentation can be improved, a PR would be great so we can discuss it 👍

[2020-02-20 15:44] ghunti opened #56 "Packagist auto-update feature is off"
Current version available on Packagist is 0.12.4 instead of 0.12.5. This means that I'm not able to use composer (withouth specifying VCS url) to get the latest version.

[2020-02-20 15:49] ghunti commented on #56
Sorry. My bad, the versioning problem is not on your repo!

[2020-02-20 15:49] #56 closed

[2020-02-21 06:28] ashkulz commented on #56
That's probably because `0.12.5` doesn't have a generic linux build, see #8

[2020-03-11 00:03] icaroscherma commented on #34
I don't think this is going to be an easy thing to do natively.
Synology DSM 6.2.x (latest stable today) uses Linux kernel 4.4.59 and uses a proprietary package system, it doesn't use `apt`, `pacman`.
By having the x86-64 compiled package it's missing `libXrender1` (and maybe other libraries).
I think the best approach would be to use Docker.

Some other links with people having the same issue (fo

[2020-03-15 13:26] epicfaace commented on #8
@ashkulz My use case is using wkhtmltopdf on AWS lambda on local HTML files, so the SSL issue doesn't really apply for me.

Is it possible to just have a version that is released specific to AWS lambda? If that's not an option, do you mind sending the build scripts you used to make the generic build for earlier versions so it is easier to build it myself?

[2020-03-17 14:10] derek-adair commented on #53
Seems VERY counter-intuitive to _require_ a build in a world with docker.  Why not release a static docker version.  Let users docker pull wkhtmltopdf.

It's not working out of the box on xenial:

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.6 LTS
Release:        16.04
Codename:       xenial

[code]

Build error:

[code]

[2020-03-17 14:15] derek-adair commented on #53
Again, why not just bake this bad boy into docker?

[2020-03-17 14:58] talltom opened #57 "downloads.wkhtmltopdf.org - Certifiate Expiry"
Hello,

Not sure if this is the right place for this issue, but wanted to let you know that your Let's Encrypt Certificate for https://downloads.wkhtmltopdf.org has expired.

Thanks,

Tomas

[2020-03-17 23:04] derek-adair commented on #33
Try this to use xvfb in docker:

[code]

[2020-03-18 02:53] Lonerider2010 commented on #50
Running a Raspberry Pi 4 as a PC, I would like to use wkhtmltopdf. In fact there is a wkhtmltopdf package in Raspbian Buster, which comes from Debian (see https://packages.debian.org/buster/wkhtmltopdf), but this is with unpatched qt. So I can't use `--header-html`, for example.
Therefor I would be really interested in the Buster version of wkhtmltopdf (qt patched version).

[2020-03-18 07:44] luca-vercelli commented on #50
The package you are looking for should already exist:

https://github.com/wkhtmltopdf/wkhtmltopdf/releases

[2020-03-18 07:53] Lonerider2010 commented on #50
That is for Raspbian Stretch, but not for Raspbian Buster. But on Raspberry Pi 4 I can run only the Buster version.

[2020-03-18 08:00] luca-vercelli commented on #50
I am using the Stretch package on Raspbian 10 (which should be Buster, doesn'it?), and I have no issues.

[2020-03-18 08:03] luca-vercelli commented on #44
@ashkulz any nes about the Buster package?

[2020-03-18 10:03] ashkulz commented on #57
Thanks, fixed it. Please note that it'll be going away on 2020-03-31 -- see wkhtmltopdf/wkhtmltopdf@ba575ea7777a1cc2f3002a3feda4ee2a3e5b2664

[2020-03-18 10:03] #57 closed

[2020-03-20 13:27] Lonerider2010 commented on #50
Thanks for this hint, @luca-vercelli. Was a bit confused by the package name wkhtmltox, which implied to me, that the command name has changed, too. So yes, I can use the qt patched version now.
@ashkulz: please rename the release to show that it is valid for Buster, too.

[2020-03-21 05:03] ashkulz commented on #44
@luca-vercelli: I haven't had time to debug it, unfortunately. There is some difference in the distributions which causes it to skip building WebKit even though it's configured on `buster`.

[2020-03-21 05:08] ashkulz commented on #53
@derek-adair: this repo is for _building_ packages, not _using_ them -- it does use docker (and vagrant where appropriate)! Also, I think you haven't read the README, which clearly says:

[2020-03-22 17:25] luca-vercelli commented on #44
There's anything I can do? Any log file to read?

[2020-03-23 03:36] ashkulz commented on #44
I've triggered a build on the PR, let's see if it works now 🤷‍♂

[2020-03-24 13:03] derek-adair commented on #53
Ah yes, I am a dumbo.  Was simply looking for a docker image and misunderstood this projects purpose...

Is there any endorsed effort to Dockerize this wkhtmltopdf?

Also genuine question here: Whats the point of this level of build support with the current VM/Container trends going on?

[2020-03-24 13:09] derek-adair commented on #53
It'd also probably be possible for these docker images to be used as run-able versions or spit out binaries.

[2020-03-25 08:01] huiji12321 opened #58 "Ask for help：how to build wkhtmlto×× with the mips64el architecture"
My computer's architecture is mips64el, OS is Fedora 21;and  QMake version 3.1、Using Qt version 5.9.8 in /usr/lib64
When I compile locally like this:
qmake -o Makefile wkhtmltopdf.pro
make
make install
then using Error: This version of wkhtmltopdf is built against an unpatched version of QT

When I compile  like this: ./build release ../wkhtmltopdf/,
                                then：exec user

[2020-03-25 12:14] ashkulz commented on #58
First: I don't see an image for `mips64el` over [at DockerHub](https://hub.docker.com/_/fedora). Also, the version you're using is unsupported -- Fedora 21 is quite old, I think.

If you have a working docker image, then it should be similar to the Raspberry Pi support -- see `build.yml` for how to get it working.

[2020-03-25 12:19] ashkulz commented on #53
Not everyone can use docker directly, wkhtmltopdf is embedded in a lot of applications which themselves use docker for packaging -- so it supports installation on a lot of common supported OSes. You're free to pick your preferred OS 👍

[2020-03-25 13:45] derek-adair commented on #53
Ya that makes sense! Probably especially for non-web-apps.

[2020-03-25 18:07] mojidabckuu opened #59 "Not able install or package myself"
Opened this issue due to missing troubleshooting guide.
Got Ubuntu bionic instance in DO.
Inside a docker container tried to install it using `apt-get install` and when I run got
[code]
Tried to build a binary myself using the installation guide and performed next commands on machine with client ubuntu version
[code]
It take some time and at the end I found targets folder with some result. Tried a

[2020-03-27 15:24] ashkulz commented on #59
Use `apt-get install -f` to install the required dependencies.

[2020-03-27 15:24] #59 closed

[2020-03-27 15:25] palytoxin opened #60 "Missing binary for archlinux/manjaro"
I want to use it on my system. target platform is manjaro. but building from source of this thing is way too hard for me , Is it possible to provide a binary package directly?

[2020-03-27 15:26] ashkulz commented on #53
Closing the issue as original reporter (@sxiii) hasn't responded yet.

[2020-03-27 15:26] #53 closed

[2020-03-27 15:29] ashkulz commented on #60
You can try to create a docker-based build using the instructions in `README.md`, but I'm not sure it'll be very useful as ArchLinux is a rolling release distribution, so it'll have to be rebuilt periodically.

[2020-03-31 12:12] talltom commented on #57
Thanks @ashkulz.

[2020-04-01 02:34] mojidabckuu commented on #59
I tried this magic command and it doesn’t work. Inside docker the problem is about to find the repo with missing does. Even if I manually added to source.list Ubuntu repos  then it returns an error regarding another missing library. Seems it has that many deps on shared preinstalled libs that I wouldn’t able to manage it myself. I finished with 12.4 version and a symbolic link to the binary inside

[2020-04-14 06:09] terry-permeance opened #61 "Request for release 0.12.6"
Hello,

Thanks for the great utility!

Is there any chance you can build a release for 0.12.6? We need the toc fix so can't use 0.12.5 but don't like running 0.12.6-dev in prod.

Thanks,
Terry

[2020-04-22 15:39] dmarkey opened #63 "Build for ubuntu 20.04"
Will be released in a few days.

Thanks!

[2020-04-23 04:33] ashkulz commented on #63
Would you be interested in submitting a PR, if the docker image is already published? It should be quite straight-forward, and please ask me if you get stuck 👍

[2020-04-24 11:42] diggy128 commented on #22
Any chance to have this PR?
And even maybe for OpenSUSE Leap 15.1?

[2020-04-25 18:00] ashkulz commented on #22
There was no followup on #27 -- would be great if you can step up in making a PR 👍

[2020-04-28 21:16] diggy128 commented on #22
I'd most definitely do so but I don't have any knowledge regarding packaging specs.

When I'll get myself familiar with it I'll give it a try

[2020-05-08 09:46] stevenspiel commented on #14
https://majestic.cloud/how-to-install-wkhtmltopdf-on-amazon-linux/ was helpful for me

[2020-05-09 08:34] kraft001 commented on #63
[Support for i386 as a host architecture was dropped in 19.10](https://wiki.ubuntu.com/FocalFossa/ReleaseNotes#Upgrades_on_i386), so we need amd64 only.
I simply copy-pasted the bionic section and replaced bionic with focal.
`./build docker-images focal-amd64` succeeded, but then the compilation failed with the error:

[code]

This is the top of the output, there were many more similar errors.
Cou

[2020-05-11 17:53] BaconRanch commented on #63
It looks like Qt 4 does not compile with gcc 9.  gcc 9 is the default version in Ubuntu 20.04, but gcc 7 is also available.  I made a fork of this repo and modified Dockerfile.debian, making a new Dockerfile.focal copy and adding explicit references to gcc-7 and g++-7 system packages, as well as some symbolic links (`gcc -> /usr/bin/gcc-7`, etc), and wkhtmltopdf compiled!

Here are my changes: htt

[2020-05-14 04:00] MrRSK commented on #63
Hi,
could you please also release a version for ubuntu 20.04 arm64?

Greetings

[2020-05-18 15:58] dominikduda commented on #63
+1, cant install on Ubuntu 20 x64

[2020-05-19 04:33] ItsFunny opened #64 "How to build in ubuntu server 18.04"
**I need help ! **

[2020-05-19 04:49] #64 closed

[2020-05-22 11:07] ashkulz commented on #63
@BaconRanch: I don't see anything bad about adding a new Dockerfile -- can you just try using [update-alternatives](https://linuxconfig.org/how-to-switch-between-multiple-gcc-and-g-compiler-versions-on-ubuntu-20-04-lts-focal-fossa) instead of using manual symlinks? I'd be very happy to test and integrate a PR :+1:

[2020-05-24 22:34] soleson commented on #30
For others running into this issue, I was able to successfully compile for aarch64 (amd64v8) architecture that we needed for an AWS EC2 Instance (Amazon Linux 2 AMI).

The major issue with the compilation is not those specific lines casting  'JSC::JSCell*' to 'int32_t {aka int}'. The aarch64 architecture is not covered in the current qt4 submodule packaged with the wkhtmltopdf source.  Specificall

[2020-05-25 11:18] ashkulz commented on #30
@soleson can you add a PR with your changes to the `wkhtmltopdf/qt` repository? I'm not averse to merging the changes if they aren't very invasive :+1:

[2020-05-25 23:57] BaconRanch commented on #63
@ashkulz I swapped out the explicit links to update-alternatives and tried it out.  The build works fine!  Here's the PR: https://github.com/wkhtmltopdf/packaging/pull/65

[2020-05-27 05:23] ashkulz commented on #63
#65 has been merged, thanks to @BaconRanch :tada:

[2020-05-27 05:23] #63 closed

[2020-05-27 19:59] soleson commented on #30
@ashkulz done. I've submitted the PR. This is my first PR to any projects, so hopefully, it's done to meet established standards. I'll keep an eye out in case further changes are needed.

[2020-05-28 12:05] ashkulz commented on #30
@soleson: I've merged the PR, thanks for the contribution!

@BlindingDark: can you check if you're now able to build a package with the latest qt being checked out?

[2020-05-28 13:39] ashkulz commented on #63
This has been published to the website, see wkhtmltopdf/wkhtmltopdf@f1ef81d7a382e38b1ce1cc78567e36ca25015ebc.

[2020-05-28 23:10] BlindingDark commented on #30
@ashkulz 🤒 I was hospitalized and I will reply to you in a few days.

[2020-05-29 02:56] ashkulz commented on #30
Take care, @BlindingDark! I hope all is well.

I used a [quick-and-dirty approach](https://github.com/wkhtmltopdf/qt/pull/46#issuecomment-635360737) to make a trial build, and it produced [a package](https://builds.wkhtmltopdf.org/wkhtmltox_0.12.6-0.20200528.27.dev.f1ef81d.buster_arm64.deb). Can someone else too try and see if that package works?

[2020-05-29 02:59] ashkulz commented on #63
@MrRSK: can you try the arm64 build in #30 and report if it works for you?

[2020-05-30 02:40] ashkulz commented on #58
According to [this page on Fedora wiki](https://fedoraproject.org/wiki/Architectures/MIPS#Releases), the last supported release was Fedora 24 (which is unsupported). It seems Debian is [supported for this architecture](https://wiki.debian.org/MIPSPort), although they call it `mips64el` -- they also have a [image for this arch at DockerHub](https://hub.docker.com/_/debian/?tab=tags&page=1&name=bust

[2020-05-30 02:40] #58 closed

[2020-05-31 11:52] ashkulz commented on #50
@GM-Script-Writer-62850 @luca-vercelli @Lonerider2010: can either of you confirm that [this package for Buster](https://builds.wkhtmltopdf.org/wkhtmltox_0.12.6-0.20200528.27.dev.f1ef81d.buster_armhf.deb) installs and works on a Raspberry Pi? I was unable to figure out what the issue was in compilation, so produced it via a hack.

[2020-05-31 12:44] GM-Script-Writer-62850 commented on #50
This is on a Pi0 acting as a usb network gadget and does not have internet access, so to get the dependencies i grabbed them from http://raspbian.raspberrypi.org/raspbian/pool/main/ and scped them over, maybe i did something wrong?
*My other Pis are running jessie and stretch still
[code]

[2020-05-31 14:23] ashkulz commented on #50
@GM-Script-Writer-62850: I compiled this with plain vanilla Debian on `armhf`, which won't work with the Pi Zero [which uses the `armel` instruction set](https://wiki.debian.org/RaspberryPi#Raspberry_Pi_1_.28A.2C_B.2C_A.2B-.2C_B.2B-.2C_Zero.2C_Zero_W.29) -- so you'll have to try it on Pi2+. I think Raspbian includes backward compatibility in their toolchain, hence it works across all Pi hardware v

[2020-05-31 14:44] GM-Script-Writer-62850 commented on #50
the newest pi i have is the one with 300Mbit network and a quad core(hardware rev. a020d3, i think that is 3b+), that one is running stretch

I have a few 0s (with with no camera, one with a camera, and one with bluetooth), an A+, a B+, a B, and a 3B+

i have not been interested in the new Pis with more cpu and ram, only reason i upgraded from a b+ was the network speed, I even had problems cause

[2020-06-02 12:31] ashkulz commented on #14
I'm adding an AmazonLinux2 RPM in the next release, see #66.

[2020-06-02 12:37] ashkulz commented on #42
An AmazonLinux2 RPM will be part of the upcoming 0.12.6 release (see #66)

[2020-06-02 12:39] ashkulz commented on #1
This has been addressed via #66

[2020-06-02 13:00] ashkulz commented on #38
Duplicate of #22

[2020-06-02 13:00] #38 closed

[2020-06-02 13:00] ashkulz commented on #22
@diggy128 @niner @bugsoftware @roebert if I make a package for a new target `opensuse.leap15`, would you be willing to do a quick test for it?

[2020-06-02 13:02] ashkulz commented on #61
I'm planning to make a release on the 2-year anniversary of 0.12.5 -- see [the 0.12.6 milestone](https://github.com/wkhtmltopdf/packaging/milestone/2) :crossed_fingers:

[2020-06-02 13:02] #61 closed

[2020-06-02 13:05] diggy128 commented on #22
@ashkulz Sure where can I get it?

[2020-06-02 13:06] ashkulz commented on #22
@diggy128 I'll probably work on it tomorrow, based on the work @niner did in #27.

[2020-06-02 13:11] diggy128 commented on #22
OK. Ping me once you are ready and I'll test it.

[2020-06-02 18:28] ashkulz commented on #50
@luca-vercelli @Lonerider2010: can you try the Raspberry Pi builds (both Stretch and Buster) for the [latest snapshot](https://github.com/wkhtmltopdf/packaging/releases)? So I ultimately found out why the buster build was failing -- see RPi-Distro/pi-gen#271 for details, it was ultimately a [qemu bug](https://bugs.launchpad.net/qemu/+bug/1805913) which needed to be worked around as it hasn't yet b

[2020-06-02 18:35] ashkulz commented on #2
I'm planning to release 0.12.6 in a week's time -- does someone have the capacity to work with me to integrate the Qt patches required for Alpine support? @alloylab was going to do that at one point of time -- if he or @chdanielmueller can help me integrate the patches so that they don't break something else, I'd really appreciate it 😄

[2020-06-02 18:45] ashkulz commented on #30
@BlindingDark @penzhaohui @MrRSK @pavel-odintsov @romaricdrigon: just a heads up, the next release will have the following builds supported (due to the Qt patches contributed by @soleson):

* amazonlinux2-aarch64
* bionic-arm64
* buster-arm64
* centos7-aarch64
* centos8-aarch64
* focal-arm64
* stretch-arm64
* xenial-arm64

None of these will be built by default, as it takes 5-6 hours to build each

[2020-06-02 19:08] GM-Script-Writer-62850 commented on #50
[code]
output file looks good

[2020-06-02 19:14] #6 closed

[2020-06-02 19:15] #30 closed

[2020-06-02 19:15] #50 closed

[2020-06-02 19:18] GM-Script-Writer-62850 commented on #50
[code]
output file looks good

[2020-06-02 19:24] ashkulz commented on #34
If there is an image available on DockerHub which allows you to install all the libraries, you can try to port it similarly to the support for other OS/architectures. Otherwise, I think @icaroscherma's suggestion to just use `docker` makes the most sense :smile:

[2020-06-02 19:24] #34 closed

[2020-06-02 19:29] ashkulz commented on #60
Also, there is [`wkhtmltopdf-static`](https://aur.archlinux.org/packages/wkhtmltopdf-static/), does that not work for you? I think it should be pretty straightforward to port it to ArchLinux -- you'll have to use the [archlinux docker image](https://hub.docker.com/_/archlinux/) and install the necessary packages. [fpm](https://fpm.readthedocs.io/en/latest/) also seems to support pacman packages, s

[2020-06-03 02:26] palytoxin commented on #60
oh, sorry for it, recently I'm working off-site, I had another project to develop that used a different OS,  after a period of time I went back and tried

[2020-06-03 06:04] ashkulz commented on #60
So do you not require this now, @palytoxin? Would appreciate closing your issue then, if so.

[2020-06-03 06:05] ashkulz commented on #50
Thanks for the confirmation, @GM-Script-Writer-62850! I've already merged the PR :+1:

[2020-06-03 07:40] #60 closed

[2020-06-03 14:10] ashkulz commented on #22
@diggy128 can you try to check if this works properly:
[code]
I built this locally, #68 will do it via Azure Pipelines but may take a _long_ time to complete.

[2020-06-04 07:10] #13 closed

[2020-06-04 07:10] #22 closed

[2020-06-04 07:42] ashkulz commented on #22
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which has RPMs for multiple architectures (x86_64, aarch64 and ppc64le). Please add a comment if you face any problems in using the packages :+1:

[2020-06-04 07:42] ashkulz commented on #13
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which should have this fixed for all `.deb` packages. Please add a comment if you face any problems :+1:

[2020-06-04 07:43] ashkulz commented on #30
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which has packages for all the targets mentioned above. Please add a comment if you face any problems in using the packages :+1:

[2020-06-04 07:43] ashkulz commented on #6
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which has packages for all the targets mentioned above. Please add a comment if you face any problems in using the packages :+1:

[2020-06-04 07:44] ashkulz commented on #42
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which has packages for both multiple targets (x86_64, aarch64). Please add a comment if you face any problems in using the packages :+1:

[2020-06-04 07:45] ashkulz commented on #1
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which has packages for a lot of ARM64 targets. Please add a comment if you face any problems in using the packages :+1:

[2020-06-04 07:45] ashkulz commented on #14
Please see the [latest release](https://github.com/wkhtmltopdf/packaging/releases) which has packages for AmazonLinux2. Please add a comment if you face any problems in using the packages :+1:

[2020-06-04 12:16] #8 closed

[2020-06-04 13:21] ashkulz commented on #8
@p3x-robot: I'm curious, why'd you close this issue?

[2020-06-04 20:15] ashkulz commented on #9
I'm not sure that makes sense for CLI tools like wkhtmltopdf, which are often bundled along with another application -- as opposed to GUI applications. In addition, the revamped setup which I've merged recently makes it very easy to build for any target distribution.

Either way, considering that no one has stepped up -- I'm going to close the issue for now. If anyone does submit a PR for implemen

[2020-06-04 20:15] #9 closed

[2020-06-04 20:18] ashkulz commented on #33
Effectively, you're asking for a `0.13` build which uses the latest WebKit engine. There's no such thing as that, I'm afraid -- I've yet to port the patches to the latest QtWebKit release.

I'm going to close the issue for now, I'm planning to post a project status update along with the upcoming `0.12.6` release.

[2020-06-04 20:18] #33 closed

[2020-06-06 20:36] ashkulz commented on #22
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:36] ashkulz commented on #13
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:37] ashkulz commented on #30
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:37] ashkulz commented on #50
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:37] ashkulz commented on #6
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:37] ashkulz commented on #61
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:38] ashkulz commented on #63
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:38] ashkulz commented on #42
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:38] ashkulz commented on #40
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:39] ashkulz commented on #14
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:39] ashkulz commented on #1
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-06 20:40] ashkulz commented on #38
A release candidate for the **0.12.6** release is [now available for download](https://wkhtmltopdf.org/downloads.html#release-candidate), which should contain changes which possibly address this issue.

Would appreciate downloading the package and reporting back if any issues are encountered during testing. Assuming all goes well, I plan to release 0.12.6 on the 2-year anniversary of the previous

[2020-06-08 15:06] luca-vercelli commented on #50
@ashkulz I installed the "buster" package yesterday, and I have no issues so far.

[2020-06-08 18:50] Kaos-Industries opened #69 "Cygwin support"
I've currently managed to get a Cygwin version working by moving installing the Windows binaries and moving everything into Cygwin's own `/bin`, `/include` and `/lib` folders respectively.

Can I expect to be able to use the tool from Cygwin like this without any problems? Will it support converting HTML form fields to fillable PDF equivalents?

If not, is it possible to get a Cygwin (or alternati

[2020-06-09 01:51] ashkulz commented on #69
Please look at the [downloads](https://wkhtmltopdf.org/downloads.html) -- there's both a MSVC 2015 and MXE (mingw-w64) build available.

[2020-06-09 01:51] #69 closed

[2020-06-09 03:28] ashkulz commented on #8
Better late than never, but I've [updated the download FAQ](https://wkhtmltopdf.org/downloads.html#why-are-there-no-generic-linux-builds-which-were-provided-earlier) with a detailed response. I've also created a separate section for AWS Lambda, PRs welcome in that area!

[2020-06-09 18:16] Kaos-Industries commented on #69
As mentioned in the thread, I had already downloaded the MSVC version and was asking whether using these in a Cygwin environment would cause any problems down the line.

[2020-06-10 02:05] ashkulz commented on #69
@Kaos-Industries I haven't used Cygwin in quite a while, but I think it can use Windows binaries just fine (except if you use a Cygwin-specific path like `/cygpath` or `/tmp`).

[2020-06-11 14:54] pedrofurtado opened #70 "Debian 8 is still supported in 0.12.6?"
@ashkulz  I did not find a binary for Debian 8 👍

[2020-06-11 15:11] ashkulz commented on #70
Considering that [jessie will be EOL](https://wiki.debian.org/LTS) from this month-end, I didn't bother to make a binary for it. Shouldn't be too tough to add it back just by changing `build.yml`, but I don't think I'll accept PRs for it. You should really upgrade 👍

[2020-06-11 15:11] #70 closed

[2020-06-11 15:12] ashkulz commented on #70
See 62ff784f6e520c40b359cdf947c33ac18d04c187 where it was removed.

[2020-06-11 15:23] pedrofurtado commented on #70
Thanks for feedback! 🤝

[2020-06-11 15:37] ashkulz commented on #70
I've also updated the [release description](https://github.com/wkhtmltopdf/packaging/releases/tag/0.12.6-1) to mention dropping `jessie` and `trusty`, didn't remember to document it 👍

[2020-06-11 15:39] pedrofurtado commented on #70
@ashkulz  Thanks for your hard work on wkhtmltopdf 👍 🤝 🍻

[2020-06-17 14:07] costinel-draculet commented on #2
Any updates on release 0.12.6?

[2020-06-17 14:10] ashkulz commented on #2
0.12.6 is released already -- an alpine version will only happen for 0.12.7.

[2020-06-21 21:09] diggy128 commented on #22
Just tested on OpenSuse Leap 15.1
Works smoothly so far.
Just one note: that the binaries are installed at /usr/local/bin instead of /usr/bin used by the mainstream opensuse packages. That is not necessarily bad as it allows to have upstream and mainstream packages installed side by side.

[2020-06-21 21:56] bugsoftware commented on #22
It works perfect.

[2020-06-22 03:59] ashkulz commented on #22
@diggy128: that's a deliberate decision as these are not supplied by the distribution.

[2020-07-05 17:37] laf0rge commented on #24
somehow the entire builds.wkhtmltopdf.org seems to be gone?  Can anyone let me know what the URL is to download wkhtmltox_0.12.1.4-1.stretch_amd64.deb now? Thanks

[2020-07-06 04:31] ashkulz commented on #24
See [this release](https://github.com/wkhtmltopdf/packaging/releases/tag/0.12.1.4-2).

[2020-07-12 15:46] rafaeldev opened #72 "Pull access denied for wkhtmltopdf_image"
Hi everyone!
First, thanks for yours support.

I'm trying use image from `madnight/alpine-wkhtmltopdf-builder:0.12.5-alpine3.10` but I can't.
When I run build from my docker compose I have the below error message:
[code]

That is my complete Dockerfile:
[code]
I try do the login on dockerhub and error persists.
Thanks!

[2020-07-12 15:49] rafaeldev commented on #72
Other test:
I try build imagem using latest image. No success too but the error message is other:
[code]

[2020-07-12 17:11] rafaeldev commented on #72
Well, it,'s my fault...

I change my Dockerfile to do COPY from image in the same line:
`COPY --from=madnight/alpine-wkhtmltopdf-builder:0.12.5-alpine3.10 /bin/wkhtmltopdf /bin/wkhtmltopdf`

[2020-07-12 17:11] #72 closed

[2020-07-27 20:35] xenyal opened #74 "Missing deb for 0.13.0-alpha"
Previously the alpha version was available for download through Bitbucket's hosting location here at https://bitbucket.org/wkhtmltopdf/wkhtmltopdf/downloads/wkhtmltox-0.13.0-alpha-7b36694_linux-trusty-amd64.deb.

Was there ever a release packaged for that version on Github? I noticed that it's missing from this repo - not sure if it might be possible to add it back?

[2020-07-28 09:02] ashkulz commented on #74
See the [obsolete downloads repo](https://github.com/wkhtmltopdf/obsolete-downloads/releases/tag/0.13.0-alpha).

[2020-07-28 09:02] #74 closed

[2020-08-10 21:00] thorgrin opened #76 "Ubuntu Focal build for 0.12.2.1"
We've been using version 0.12.2.1 but it is not available or Ubuntu Focal to which we are migrating. Newer versions (tested 0.12.6 and 0.12.4 for which there are OS packages and generic linux binaries respectively) do not generate desired outputs for the same templates. Is is possible to generate the older package/binary for the new Ubuntu Focal?

I've tried building using packaging repository, bu

[2020-08-10 21:18] #76 closed

[2020-08-11 13:28] ashkulz commented on #76
Let me know if the documentation needs to be improved in some way :+1:

[2020-09-08 14:41] chdanielmueller commented on #2
@ashkulz The file linked below is a Dockerfile for alpine:10 which builds 0.12.6
https://github.com/Surnet/docker-wkhtmltopdf/blob/master/archive/alpine-wkhtmltopdf/Dockerfile_3.10-0.12.6-full
I hope this is enough reference for a official alpine package for 0.12.7

With alpine:11 and up we have an issue that we are not able to build without specifically setting g++ and stdlibc++ to use the versio

[2020-09-09 02:25] ashkulz commented on #2
@chdanielmueller that's a common problem (affecting Ubuntu 20.04 and ArchLinux as well) -- I'll be solving that with a proper fix in Qt, the `Q_FOREACH` fix looks to be correct.

My main concern is integrating the other patches in https://github.com/Surnet/docker-wkhtmltopdf/tree/master/conf -- I'd like to understand why each one is required, as they shouldn't cause a regression for some other pla

[2020-09-09 05:56] chdanielmueller commented on #2
I did not include any automated tests.
You can run the following command to test a version you built without some of the patches.
`docker run surnet/alpine-wkhtmltopdf:<version> google.com - > test.pdf`

The patches are being applied here:
https://github.com/Surnet/docker-wkhtmltopdf/blob/a445546703648957459b9c673e9db2e637c5a4de/Dockerfile-alpine.template#L53
(or in any Dockerfile in the archive)

[2020-09-15 04:56] jeremymoritz commented on #42
@ashkulz , Is there any way i could pay you to help me fix my AWS lambda upgrade problem?  It was working fine in NodeJS 8.10, but after upgrading to NodeJS 12.10, it's broken, and i have been working on it all day today.  I can get wkhtmltopdf to run without any params (showing the help content), but when i add params, i get an error code.  i appreciate your making the rpm, but I don't understand

[2020-09-15 05:35] ashkulz commented on #42
Did you try the [instructions linked from this FAQ entry](https://wkhtmltopdf.org/downloads.html#how-do-i-use-it-with-faas-setups)?

[2020-09-15 05:40] jeremymoritz commented on #42
@ashkulz Yes sir.  I read them over a dozen times and attempted to carefully follow every item on the list.  I got a successful lambda layer following those instructions, but when i try to run it with the real html and options, i get error code 1.  I'm at a loss as to what more i can do to make this work.

[2020-09-22 13:03] rubnov opened #78 "Missing dependencies xfonts-75dpi xfonts-base"
Not sure if this is the appropriate repo to raise this issue. Would appreciate your guidance.

I am failing to install and use wkhtmltopdf in my docker container, running Debian buster. Host runs Ubuntu 16.04.
The docker container is based on python 3.8.5, with pdfkit 0.6.1 installed via requirements file, and wkhtmltopdf installed in the Dockerfile via apt-get.

Dockerfile:
[code]
This installs t

[2020-09-23 10:24] ashkulz commented on #78
The `HostNotFoundError` is due to wkhtmltopdf/wkhtmltopdf#4536, and I see you've [already found a fix](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/4444#issuecomment-697165024).

[2020-09-23 10:24] #78 closed

[2020-10-19 07:33] d-fence opened #79 "No hash sums for buster packages of wkhtmltox 0.12.5-1"
It seems that the [md5](https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/MD5SUMS), [sha1](https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/SHA1SUMS) and [sha256](https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.5/SHA256SUMS) [sums](https://github.com/wkhtmltopdf/wkhtmltopdf/releases/tag/0.12.5) were not computed for the Debian Buster packages

[2020-10-19 14:36] ashkulz commented on #79
Duplicate of #47

[2020-10-26 05:59] RoelVdP opened #80 "Qt not included?"
ubuntu:~/wkhtmltopdf/packaging$ python build package-docker --clean focal-arm64 "/home/roel/wkhtmltopdf/"
Qt not present in wkhtmltopdf source: /home/roel/wkhtmltopdf/

[2020-10-26 06:03] RoelVdP commented on #80
Solved my own issue. I would propose making the build instructions clearer, something along the lines of (this works for me):

[code]

[2020-10-26 06:04] RoelVdP commented on #80
Hmm now I get `Could not detect experimental: true in docker daemon, aborting.`

[2020-10-29 14:08] ashkulz commented on #80
Yeah, you need to set the flag to get the multi-arch support working. Would appreciate a PR with updated docs, as it all seems obvious to me 🤷‍♂️

[2020-10-29 14:08] #80 closed

[2020-11-02 09:03] lnmunhoz opened #81 "Lambda release"
I tried to use the lambda binary that was released, but for some reason it doesn't give me any errors but the pdfs are not generated. However, using the binary from here https://github.com/SebastiaanKlippert/go-wkhtmltopdf-lambda/releases worked.

[2020-11-04 03:45] darmawan01 commented on #2
any update for this issues ?
i use image `alpine 3.9` and `wkhtmltopdf 0.12.5`

look like is not patched with qt

[2020-11-04 06:54] ashkulz commented on #2
@darmawan01 not really, I haven't had time to integrate the musl patches into patched Qt.

[2020-11-04 07:23] darmawan01 commented on #2
i really need for this qt support in alpine. when the 12.7 will release with alpine build patched qt ?

[2020-11-04 14:54] reediculous456 opened #82 "Add SUSE Linux SLES 12 SP5 RPM"
Hello, we exclusively use SUSE Linux SLES 12 SP5 for our servers (which is different from OpenSUSE or LEAP).

Is it possible to add a build step for this distro? (docker image located here: `docker pull registry.suse.com/suse/sles12sp5`)
I have tried several times (unsuccessfully) to get this library to compile myself

[2020-11-04 16:42] reediculous456 commented on #82
Nevermind, I figured out how to get the openSUSE RPM to install

[2020-11-04 16:42] #82 closed

[2020-11-09 23:52] erutherford commented on #81
You should check the version of Amazon linux your lambda is running. The provided archive will only work for lambdas running Amazon Linux 2. https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html

[2020-11-10 10:21] ashkulz commented on #81
The zip file has `amazonlinux2_lambda` in the name, so I thought it was implied :slightly_smiling_face:

I'm not sure that it makes sense to support AmazonLinux 1, as it'll be [effectively EOL by year-end](https://aws.amazon.com/blogs/aws/update-on-amazon-linux-ami-end-of-life/). Not sure what the "maintenance support" means, as the earlier EOL was June 30.

[2020-11-10 16:12] erutherford commented on #81
I don't think I said anything about a lack of clarity about what version of Amazon Linux it was for, I was only pointing out that Amazon Linux 2 isn't available for all lambda runtimes and based off the fact that he's referencing a go lambda example he's likely running Amazon Linux 1.

Supported packages will include:

The article you reference seems to indicate what they mean by maintenance suppo

[2020-11-10 17:44] ashkulz commented on #81
Sure, if it's not going to be EOL soon I'll happily merge a PR :-)

[2020-11-12 09:38] DennisdeBest commented on #2
Hey to get this working in the mean time I used some of the dependencies mentioned in https://github.com/RoseRocket/docker-alpine-wkhtmltopdf-patched-qt

[code]

This now works for me on a base `php:7.4.12-fpm-alpine` image.

It took a day of wondering around the internet to get this to work but it does now :)

Thanks @ashkulz for this librairie, it is awesome :)

[2020-11-26 09:26] siddhant2308 commented on #81
Can anyone advise on what changes it will take to get the layer for amazonlinux 1.

(Sorry i am still wrapping my head around all this, but any starting point will be nice).

[2020-11-26 09:32] ashkulz commented on #81
I assume it'll be doing similar changes to #77 but for AmazonLinux 1 (by changing `from` to `amazonlinux:1`)?

[2020-11-26 09:51] siddhant2308 commented on #81
https://github.com/wkhtmltopdf/packaging/blob/b32dc1be3bc278176d73cf15714ea1dbd8deab1e/build.yml#L313
changed to amazonlinux:1
Sorry for over-simplify things here, but in the packaging repo (wkhtmltopdf repo in parallel)
running command:
./build package-docker amazonlinux2_lambda ../wkhtmltopdf, and expecting a zip output. This is taking some while to complete.

[2020-11-30 08:16] arwinvdv commented on #8
Little bit late (but maybe for some others):

@RyanBlundell I just asked cloudways to install the latest version 0.12.6 and they did :)

[2020-12-05 00:20] junalmeida opened #83 "Can't run compiled binaries on Azure Windows Server"
I tried with both `mxe-cross` and `msvc` versions, compiled for `x64`. This happens only on a Azure App Service.

![image](https://user-images.githubusercontent.com/991675/101227331-152c1100-365d-11eb-8ee6-04182f55c24c.png)

[2020-12-07 23:29] nicst35 opened #84 "focal-armhf fails on Ubuntu 20.04.1 AMD64 host"
I'm trying to build wkhtmltopdf for an armhf device running Ubuntu 20.04.1 (Raspberry Pi 3). The build machine is running the same distro and version. After installing the required packages (`docker.io`, `python-yaml`, `p7zip-full` and `git`, obviously) and syncing both qt and wkhtmltopdf repos (master branch), I used the following command line to perform the build process:

    $ ./build package-

[2020-12-08 05:16] junalmeida commented on #83
Just found the issue. Sorry

[2020-12-08 05:16] #83 closed

[2020-12-08 05:32] ashkulz commented on #83
What was the issue, @junalmeida?

[2020-12-08 05:38] ashkulz commented on #84
@nicst35: I _think_ it looks like the [same qemu bug](https://bugs.launchpad.net/qemu/+bug/1805913) that produces broken images for Raspbian Buster, can you [apply the same workaround](https://github.com/wkhtmltopdf/packaging/blob/b32dc1be3b/build.yml#L68) and see if it helps?

[2020-12-08 20:01] nicst35 commented on #84
Hi @ashkulz

Just to check if the build script is using the right qemu, I patched `shell(cmd, cwd)` to see what is actually doing:

[code]

Without any workaround, it appears the focal-armhf target is already using 32-bit QEMU so applying the workaround does no effect because of this (build, line 335):

[code]

This is what the script does on my machine
[code]
And then, even if no SIGSEGV is raise

[2020-12-09 04:00] ashkulz commented on #84
You're right, I forgot about the part. From a [previous log where it was successful](https://dev.azure.com/wkhtmltopdf/packaging/_build/results?buildId=94&view=logs&jobId=cf1f2c0b-1d96-5ea7-13e0-1b172dffe7f5&j=cf1f2c0b-1d96-5ea7-13e0-1b172dffe7f5&t=b0467b7c-1e16-5db5-f0d2-4e4953581542), it seems the following SHA256 of `aptman/qus` was used:
[code]
Maybe try to use that? Otherwise, I'm not really

[2020-12-09 17:02] nicst35 commented on #84
After a long wait and switching to a release branch, I could get a working build using qus:d4.2 for the docker build environment, and commits 6a57c14 (0.12.6) and ccdfd25996 (wk_4.8.7) of wkhtmltopdf and QT, respectively.
(Since it includes the QT patch to avoid arithmetic exceptions, I'm attaching the generated .deb in a .zip in case someone finds it helpful)
[wkhtmltox_0.12.6-1.focal_armhf.deb.z

[2020-12-10 01:59] nicst35 commented on #84
And yep, it builds with b7b452445c7f9ff2c4c1d88f1867dfebb71a50e1240f63586de8afaffb9ced67

[2020-12-10 04:53] ashkulz commented on #84
Which Qt patch are you talking about? Also, not sure if we should report an issue about `qus:latest` not working for armhf.

[2020-12-10 16:25] nicst35 commented on #84
ccdfd25996: Fix artihmetic exception when using non-scalable fonts.

[2020-12-17 03:41] ashkulz commented on #84
I'm closing this as your PR #86 was merged :+1:

[2020-12-17 03:41] #84 closed

[2020-12-23 05:44] sarahkemp commented on #6
Really appreciate your work on this. I have not had opportunity to try it until tonight because my OS was too far back. Now I am on 20.04 and tried the candidate and unfortunately it looks like the spelling disagreement between ppc64el and ppc64le prevents my installing it. DPKG insists my architecture is ppc64el, which the architecture of the candidate is ppc64le. I tried forcing it, but all of t

[2020-12-23 09:35] ashkulz commented on #6
Hmm, can you do a local build with this patch applied?
[code]

[2020-12-29 19:35] sarahkemp commented on #6
I wish I could but I don't have the resources. My only server with this architecture is my production LPAR and it is not equipped for docker and vagrant.

If I am misunderstanding the capabilites of docker and this could be done on my local machine (not ppc64le/el), I could do that.

[2020-12-30 03:40] ashkulz commented on #6
Yeah, the build can be done on your local machine -- it uses qemu to emulate the ppc64le architecture.

[2020-12-31 20:28] sarahkemp commented on #6
In case it is not apparent, I've never used docker before.

I installed Docker for Windows on my local machine. I ran ppc64/ubuntu image privileged with a volume. In the ubuntu image, I installed the prerequisites from the readme, cloned the wkhtmltopdf repo with submodules, patched the file, and I tried to ./build package-docker focal-ppc64el ../wkhtmltopdf but I cannot get past the first docker

[2021-01-01 13:13] ashkulz commented on #6
I haven't tried it on Windows, maybe you should use WSL 2 or an actual Linux machine? Either way, can't really help you troubleshoot docker 🙁

[2021-01-08 06:19] sarahkemp commented on #6
I tried on an Ubuntu 16.04.1 machine now.

Unfortunately I don't even know if this is more docker troubleshooting or something that is meaningful to you.

Is there any way to build without docker on a machine with the same architecture anymore? The build files I used to make wkhtmltopdf on the production machine before are no longer in the wkhtmltopdf repo in favor of this one.

Thank you for your

[2021-01-08 06:30] ashkulz commented on #6
What's the output of `uname -a`? I suspect that the OS is too old, and [doesn't meet the requirements](https://github.com/wkhtmltopdf/packaging#requirements).

[2021-01-08 20:16] sarahkemp commented on #6
You are correct, the kernel did not meet the requirements (I blame the late night). Today I upgraded the OS to 18.04.5. After that, my output is:

[2021-01-21 22:59] sarahkemp commented on #6
After my failure on the linux server, I spun up a new Hyper V instance on a Windows server and installed Ubuntu 20.04. I followed the instructions for this repo and your patch and was able to build wkhtmltopdf for focal-ppc64el. It is now running on my ppc64el machine and seems to be working as expected.

I really appreciate your help with this issue!

[2021-01-22 02:45] ashkulz commented on #6
Thanks for confirming! I've pushed a fix for all Debian/Ubuntu packages.

[2021-01-28 18:12] maggie0002 commented on #2
@ashkulz, would be helpful to hear your view on this approach. Am I opening a can of worms using this for a production env? Is it best to wait for .7 release?

It would be for creating a pull request on a Linux Server image to resolve this issue: https://github.com/linuxserver/docker-bookstack/issues/80

[2021-02-01 02:24] mrdalrymple opened #87 "Windows Silent Install"
For automated installs / installing in a Windows Docker container, installers need to not show up any prompts.

I am not able to use the "/s" option when running the Windows installer to get it to "silently" install.

See: https://stackoverflow.com/questions/14445395/nullsoft-scriptable-install-system-nsis-installer-silent-mode
Which points to one example: https://nsis.sourceforge.io/Examples/sile

[2021-02-01 04:19] ashkulz commented on #87
I think it's `/S`, not `/s`. Please post screenshots of what you're getting, as this is something that used to work reliably earlier -- it's included in Chocolatey and quite a few other places, which use this functionality.

[2021-02-09 15:03] puschie286 opened #88 "windows build lib missing"
The current windows build as 7zip doesnt contain the lib ( only checked for 32 bit )
https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.mxe-cross-win32.7z

Its contained in the installer so you can work with that for now

[2021-02-09 17:10] ashkulz commented on #88
Because that version is cross compiled, it's present as `bin/libwkhtmltox.a`. You can rename it to `lib/wkhtmltox.lib` and it should work 🤞

[2021-02-10 06:08] ashkulz commented on #87
Please reopen the issue, if it doesn't work for you with a detailed scenario which doesn't work.

[2021-02-10 06:08] #87 closed

[2021-02-10 14:17] puschie286 commented on #88
oh, didnt know that - would be nice if we could add that hint somewhere in the documentation

[2021-02-11 12:14] ashkulz commented on #88
I'll leave this issue open for that, but people mostly use the MSVC downloads by default :man_shrugging:

[2021-03-13 20:38] SB97 opened #89 "replace p7zip with 7zip"
https://www.bleepingcomputer.com/news/software/7-zip-developer-releases-the-first-official-linux-version/

there is now a new official version of 7zip available

[2021-03-16 08:23] yforq opened #91 "About the Android version"
hi bosses ，How do I build an Android version?  I tried to compile it several times and frustratingly failed.

[2021-03-17 06:01] ashkulz commented on #91
I have absolutely no clue, but I doubt it will work because I don't think Qt 4.x (_which wkhtmltopdf uses_) supports Android.

[2021-03-17 06:13] yforq commented on #91
sir，Thanks for your reply!Can I try to compile it with Qt 5.1?Since WebKit was killed after 5.6, does wkhtml2image need any 4.x features other than WebKit?

[2021-03-17 06:17] ashkulz commented on #91
You can try, but it'll be the unpatched version which may require an X server ... not sure how that'll work on Android.

[2021-03-26 21:13] Maralai opened #92 "Network Error"
I am getting a network error when I try to download the Windows files. I tried the deb file and it worked. Any clue what I am doing wrong?

[2021-03-27 16:05] ashkulz commented on #92
Not really, it's hosted at GitHub so might be something your provider/ISP/firewall is filtering?

[2021-03-27 16:05] #92 closed

[2021-04-02 06:31] alemrsrl opened #94 "Untuntu/Debian package error"
when i'm try  dpkg -i  wkhtmltox_0.12.6-1.buster_ppc64le.deb i receive the error: package architecture (ppc64le) does not match system (ppc64el)

i want to build wkhtmltopdf form my ubuntu installend on IBM Power Server (Power 9 processor), but i don't find any solution for build on my system

[2021-04-02 10:25] ashkulz commented on #89
I'm not sure there's a point unless it's packaged into distributions :man_shrugging:

[2021-04-02 10:25] #89 closed

[2021-04-02 10:27] ashkulz commented on #94
You're right, there was a bug in the architecture name which was fixed in 01d80d7c32e263655fe48b842804058058f984a6 -- I just haven't rebuilt the packages yet, can you build locally and try?

[2021-04-02 11:56] alemrsrl commented on #94
Sorry but i can't build it because I don't have the necessary privileges on my system to build it.
could you do it for me (Debian and Ubuntu)?

[2021-04-02 14:43] ashkulz commented on #94
You can build it on a regular Intel machine and copy it over, see the instructions in README.

[2021-04-05 10:21] Trane9991 commented on #2
@maggie0002, issue I faced that Chinese text is not being rendered without

[2021-04-08 13:55] pkbarbiedoll opened #95 "Digest mismatch when installing latest RPM on a FIPS enabled system"
**wkhtmltopdf version(s) affected**: x.y.z
wkhtmltox-0.12.6-1.centos8.x86_64.rpm

**OS information**
RHEL 8.3

**Description**
Our system is required to run with FIPS mode enabled.  This is set prior to installation via boot options: fips=1, and can be checked after installation with:
[code]
Installation of the package is the same.

Download latest rpm:
# wget https://github.com/wkhtmltopdf/packag

[2021-04-08 14:43] ashkulz commented on #95
I don't really use the fips mode -- what does it do? Maybe this is a bug which should be [reported and fixed upstream](https://github.com/jordansissel/fpm) -- can you reproduce it with a package other than wkhtmltopdf?

[2021-04-08 15:10] pkbarbiedoll commented on #95
[FIPS](https://www.redhat.com/en/blog/how-rhel-8-designed-fips-140-2-requirements) is intended for systems that require greater levels of security.  [Maintainers of other packages](https://gitlab.com/gitlab-org/omnibus-gitlab/-/issues/5938) have encountered this and fixed by enabling sha256 digests.

I'm able to install other RPMs without the digest error.  For example:

[code]

[2021-04-08 15:17] pkbarbiedoll commented on #95
I'm able to install the package using the --nodigest and --nofiledigest options

[code]

[2021-04-09 08:43] ashkulz commented on #95
Can you check if building the RPM with this patch applied results in something that works? You can refer to the contents of README.md, you can do it on your local machine.
[code]

[2021-04-21 04:58] JitendraSSingh opened #96 "sh: xvfb-run: command not found"
Hi there,

Firstly thank you for creating a seperate repo for packaging, really appreciate that.

So I am following along the example which is given in the repo for generating .zip for different targets, in my case it is I want it for `amazonlinux2_lambda`. I am building the package on an AWS EC2 instance which uses `ubuntu-focal-20.04-amd64-server-20210223` as AMI, after zipping the package and c

[2021-04-23 11:33] ashkulz commented on #96
Not sure what you mean -- you mention `amazonlinux2_lambda` and then talk of 'ubuntu-focal`, both are different distros. Why don't you simply install the [focal deb](https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.focal_amd64.deb) in case you're using the latter?

[2021-04-24 08:23] JitendraSSingh commented on #96
Hey @ashkulz  sorry for the confusion over there, what I meant was that, the target for which I was generating the Binaries was for `amazonlinux2_lambda`. Actually just an update, I have managed to have compiled version of `wkhtmltopdf` to run on AWS Lamda, the issue where I am running into is when I try to use `xvfb` along with `wkhtmltopdf`. It looks like this issue is more of `xvfb`. Will close

[2021-04-24 08:23] #96 closed

[2021-05-21 10:15] mddanishansari commented on #91
Getting in the queue and waiting for the time when it's available for Android.

[2021-05-21 12:38] ashkulz commented on #91
@mddanishansari like I said above, I'm not sure how/if it will work, see above comment :man_shrugging:

[2021-05-27 10:38] itsyoshio commented on #2
Anyone managed to achieve QT5 Webkit compatibility?
The Arch Linux package is bundled for that, so it includes CSS3 (Flex) Support.

I'm wondering there is a docker image / guide or anything out here.

Thanks!

[2021-07-04 09:23] abdennour commented on #8
What do you expect from your audience ? should we compile from source ?

[2021-07-25 19:11] yishairasowsky opened #97 "pages"
Hi! I love your work. I am trying to make page numbers alternately appear at the bottom left for odd pages and bottom right for even pages. Is there a way to do that?
What I have so far is this...

[code]

[2021-07-26 11:04] ashkulz commented on #97
Please use `--footer-html`, and this is the wrong repo to ask questions like this.

[2021-07-26 11:04] #97 closed

[2021-07-26 11:58] yishairasowsky commented on #97
@ashkulz thank you for your reply! where is the right place to ask? is there documentation for `--footer-html` where i can see what it is and how to use it? thanks!

[2021-08-06 10:11] emendelson opened #98 "Is there any hope of a macOS ARM build?"
I use wkhtmltopdf in various projects that run on macOS. As far as I know, there are no binaries for Apple Silicon (M1), and I haven't figured out how to build on an M1 Mac.

Is there any hope of getting an ARM build for the Mac?

Thanks to any help and advice.

[2021-08-11 00:19] Snarik commented on #98
I have a similar issue, does not work when I enable rosetta either.

[2021-08-11 04:35] ashkulz commented on #98
@Snarik what is the error you get?

[2021-08-17 12:36] nook24 opened #99 "Build for Debian 11 Bullseye"
Hi,
I wanted to ask if a build of version `0.12.6-1` for Debian 11 is coming?

I know that the official repository of Debian contains the version wkhtmltopdf `0.12.6-1` but in my first tests, it only loads fonts from `/usr/share/fonts/` and for this reason the official build will not display any font-awesome fonts.

I could workaround this by `apt-get install fonts-font-awesome` but this contains

[2021-08-18 04:44] ashkulz commented on #99
Can you check if installing the build for Debian 10 works?

[2021-08-18 14:42] soaresRibeiro commented on #98
It's working for me. Installed via Homebrew on the terminal in Rosetta mode.
1 - Run the terminal in Rosetta mode.
2 - brew install wkhtmltopdf

[2021-08-20 11:44] nook24 commented on #99
Installing the Debian Buster Build works

[2021-08-23 20:51] niightly commented on #99
I'm using Ruby:2.7.4 image from docker hub and they start to use the Debian 11, and it does not seem to work (this is the error I'm getting):

[code]

does anyone know how to fix it or maybe (being a little bold to ask) if the Debian 11 will be supported? and when?

[2021-08-24 07:58] ashkulz commented on #99
@niightly it's weird that the Debian 10 build doesn't work, can you check if running it manually works?

[2021-08-24 08:01] ashkulz commented on #98
I don't have access to a M1 and I think it'll hard to port Qt4 to it, unless the arm64 support works as-is. So Rosetta seems to be the only option for the foreseeable future.

[2021-08-24 12:11] niightly commented on #99
@ashkulz Manually it worked O.o... maybe this is something from wicked_pdf then .... I will check!
Thx for the tip

[2021-08-24 19:58] soaresRibeiro commented on #98
I still can't do wkhtmltopdf. It generates the pdf, but without the project's css. If I can't solve it, I think I'll have to use a docker = (

[2021-08-24 20:00] Snarik commented on #98
This was the solution for me. I had to completely remove Brew, start my terminal in rosetta mode, reinstall it, and then build my packages.

[2021-08-24 20:22] soaresRibeiro commented on #98
I'll probably have to do that too, since I installed everything natively except wkhtml.

[2021-08-24 20:35] Snarik commented on #98
Yeah brew just does screwy things when you try to install it as ARM64. Better to just run your whole dev env as x86, the performance hit is minor I've found. Good luck.

[2021-08-27 08:43] langsz opened #100 "[HELP] Build for centos7: cannot proceed"
I want to build the wkhtmltopdf which the QT needs some changes in the code to fix the[ issue](https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3841). But it connot proceed.

error log:
-----------------
[code]

Who know how to fix?

[2021-08-30 04:32] ashkulz commented on #100
Can you post the exact command line you used and the versions of the repositories you have checked out (`git rev-parse HEAD`)?

[2021-08-30 18:40] mcg commented on #99
Tad confused with this issue. It there a Debian 11 build? I don't see one on https://wkhtmltopdf.org/downloads.html

[2021-08-31 11:44] ashkulz commented on #99
I need to make one, PRs welcome. In the meanwhile, the Debian 10 build should work as-is.

[2021-09-02 03:18] langsz commented on #100
The wkhtmltopdf version is 0.12.6 and the packaging which I download from the source code.
./build --no-qemu package-docker centos7-x86_64 ../wkhtmltopdf/

[2021-09-02 03:46] ashkulz commented on #100
I recently ran a build on Azure Pipelines and it was successful for CentOS 7, not sure I can help you there :man_shrugging:

[2021-09-19 07:11] velcrine opened #102 "Get binaries with unpatched qt"
I see that results of pdf with wkhtmltopdf(unpatched qt) are way better than with patched qt.
Please tell, where can I get those builds as ubuntu by default gives unpatched qt, but I also require downloadable packages.

[2021-09-20 05:45] ashkulz commented on #102
Just do `apt-get install wkhtmltopdf`? The official distro packages **are** the unpatched Qt binaries.

[2021-09-20 05:45] #102 closed

[2021-09-20 11:28] velcrine commented on #102
they don't give ability to import # include wkhtmltox/pdf.h

I need to utilize the bindings too, and give my customer the best pdf experience...

[2021-09-20 18:44] velcrine commented on #102
please reopen

[2021-09-21 05:51] ashkulz commented on #102
You can just do `apt build-dep wkhtmltopdf` and then just do `qmake && make` in the source checkout -- all the binaries will be in `bin/`.

[2021-09-21 08:27] velcrine commented on #102
oh thanks ashkulz
let me try that.

[2021-09-21 08:48] ashkulz commented on #102
Nope, the submodule doesn't get used -- it uses the system Qt dependencies (`apt build-dep` is for that).

[2021-09-21 15:08] velcrine commented on #102
oh thanks!!

[2021-10-08 09:32] niightly opened #103 "Is there any chance to get a build for rhel8?"
Hi,
it's me again, recently we had to move from Debian to Redhat (rhel8) I was reading the seems it should work with the centos build but I might have misunderstood something. I did try to run:

[code]

and I'm getting the error:

[code]

Can you guys give some advice?
thank you in advance

[2021-10-27 07:35] ZawadzkiKonrad opened #104 "Vagrant images do not work"
Hi! I need packaging a wkhtml to windows 10, i try do this with Your instruction, but i have a lot of errors..
1:
curl: (60) SSL certificate problem: certificate has expire
2:
Installing vcbuildtools...
    windows: WARNING: Generic MSI Error. This is a local environment error, not an issue with a package or the MSI itself - it could mean a pending reboot is necessary prior to install or something

[2021-11-02 10:11] Cyborgscode opened #106 "wkhtmltopdf enters an endless loop on https:// img link"
OS: Fedora 33
Package used last: CentOS 8
Version affected:  most likely * <= 0.12.6
tested on:
  wkhtmltox-0.12.4_linux-generic-amd64
  wkhtmltox-0.12.6-1.centos8.x86_64

Description:

When none local image paths are used like this:

https://sub.domain.tld/truelogo.png

instead of an absolute local path:

/home/username/sub/truelogo.png

wkhtmltopdf <= 1.12.6 is entering an endless loop OR, most

[2021-11-02 10:53] ashkulz commented on #106
Not sure how this relates to packaging, should probably be opened on the main repo.

[2021-11-02 10:53] #106 closed

[2021-11-02 10:56] Cyborgscode commented on #106
my mistake..

[2021-11-30 08:42] Ph0tonic opened #107 "Binary build for web serveur"
Hello,

I'm currently trying to build a binary for the following config:
- Linux version 4.18.0-305.19.1.lve.el8.x86_64 (mockbuild@koji.corp.cloudlinux.com) (gcc version 8.4.1 20200928 (Red Hat 8.4.1-1) (GCC)) #1 SMP Thu Sep 23 11:04:54 EDT 2021

However, I have no sudo rights so I'm not able to use dpkg or any package manager on the server.

The previous generic build 0.12.4 is not working due to

[2021-11-30 09:03] ashkulz commented on #107
Please read https://wkhtmltopdf.org/downloads.html#why-are-there-no-generic-linux-builds-which-were-provided-earlier

You can try extracting from the CentOS 8 rpm, but it may fail due to dependent libraries being missing.

[2021-11-30 09:03] #107 closed

[2021-12-01 20:06] jtelcontar commented on #98
Has anyone had any luck installing wkhtmltopdf in a Docker container on an M1 Mac? I just got a new dev machine for work, and one of the steps in our custom Dockerfile is the following:

[code]

This fails when I build the container due to the package architecture and system architecture mismatch.
[code]

My next step was going to be attempting to run my terminal in Rosetta mode to see if it will

[2021-12-05 14:45] Ph0tonic commented on #107
Thanks, it worked perfectly 👍

[2021-12-26 07:43] cclauss commented on #98
I believe that this issue can be closed with @jtelcontar solution above:
[code]

[2021-12-26 08:14] ashkulz commented on #100
Please reopen the issue if it still affects you with more details.

[2021-12-26 08:14] #100 closed

[2021-12-26 08:15] ashkulz commented on #98
@cclauss that solves the docker based workflow, not a native mac package for M1 so I think this issue should still remain open.

[2022-01-10 18:22] DanteLogan commented on #1
Is this topic still oen for discussion as I am trying to install odoo14 on my raspberry pi and i am guessing i would need to find all the arm64 package equivalents

[2022-01-11 06:28] ashkulz commented on #1
Not sure what the issue is, there are "pure"  arm64 as well as raspbian builds available for 0.12.6 -- debian 10 builds should work with 11.

[2022-01-13 03:43] sscotti commented on #98
I ran into a similar issue mentioned by  jtelcontar.  I have a Docker package that I usually run on an UBUNTU host and also an Intel Mac.  In the DockerFile I have this:

[code]
and that works fine for the Intel Mac and UBUNTU server (a Dell R710 Xeon).

I'd have to look at the error on the M1 because that is a collaborator, but it is an architecture error message.

I tried changing to arm64, and

[2022-01-13 03:52] cclauss commented on #98
install_wkhtml2x.sh
[code]

[2022-01-13 14:03] sscotti commented on #98
Christian, I'll give that a try, thanks.

Might have to clean up my DockerFile.  Below is part of what I had.

I think I am using just one of those PIP modules, and not sure if I need the font-packages if I am using the .deb package.
I don't have the M1 Mac myself, but I might get one soon.  Kind of waiting for the 27" version release.

[code]

[2022-01-13 14:09] cclauss commented on #98
Do `apt-get` first and `pip3` second.

Put all your `apt-get install` together into a single RUN command to allow dependency resolution to work.

Put all your `pip3 install` together into a single RUN command to allow dependency resolution to work.

[2022-01-13 14:44] sscotti commented on #98
I'll give that a try.  Thanks.  I take it I could add what you suggested to my docker-entrypoint.sh somehow ?

**DockerFile**
[code]
**docker-entrypoint.sh**

[code]

[2022-02-11 15:16] adriantx opened #109 "AWS Lambda Layer: wkhtmltoimage does not appear to be installed on this linux system according to which command"
I am using this library for .net core [andrei-m-code/net-core-html-to-imag]( https://github.com/andrei-m-code/net-core-html-to-image)e in my application, locally it works fine, But when deploying to AWS Lambda by using this build as Lambda Layer [hwkhtmltox-0.12.6-4.amazonlinux2_lambda.zip](ttps://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-4/wkhtmltox-0.12.6-4.amazonlinux2_lambda.zi

[2022-03-18 15:55] Kaias26 opened #110 "wkhtmltopdf on Debian 11"
Hi !
I'am a web developper and i've started to use wkhtmltopdf for a project.
My testing environnement is a Debian 10 and the package from gitHub works well.
But my production server is a Debian 11 and the package doesn't seems to include the "QT patch" thing.

My biggest problem is that --header and --footer arguments doesen't works at all.

I'am not famillar with linux or qt or packaging, but is

[2022-03-20 06:24] ashkulz commented on #110
Duplicate of #99 -- the Debian 10 build should work as-is.

[2022-03-20 06:24] #110 closed

[2022-03-22 09:25] lishuaiyin02 opened #111 "execute ./build package-docker buster-amd64 <PATH-TO-WKHTMLTOPDF> appear a error"
In ubuntu 20.04 when I  execute  sudo apt install -y python-yaml docker.io vagrant virtualbox p7zip-full. And then execute  ./build package-docker buster-amd64 <PATH-TO-WKHTMLTOPDF>, appear a error : You don't seem to have 'make' or 'gmake' in your PATH.Cannot proceed,what should I do to solve this problem.
![image](https://user-images.githubusercontent.com/43161391/159447341-d4a8d14c-7b34-4398-a5

[2022-03-28 12:55] DHVPP opened #112 "Building NPM package with wkhtmltopdf as dependency"
Hello,

I'm building a native module for Nodejs using wkhtmltox package. Right now, in our bindings configuration we are using the libwkhtmltox.so file to compile our package and it works perfectly, on my PC.

As far as I understood, I need a static version of this file to be compiled with my package, but I'm having trouble finding a way to recompile wkhtmltox package to include this file.

Could

[2022-03-29 04:54] ashkulz commented on #112
This won't work, as you'll need a version for every supported distro and then depending on the relevant distro use that binary. See [wkhtmltopdf_binary_gem](https://github.com/zakird/wkhtmltopdf_binary_gem) on how a similar approach in Ruby works.

[2022-03-29 05:02] DHVPP commented on #112
Thank you so much for the replay.

I made this package primarily for my clients project  which runs only on Ubuntu 18.04. So if this approach could would work only for one distro right now, I'd be grateful if you could tell me how to build the static version of this file.

Thanks again

[2022-03-29 05:17] ashkulz commented on #112
Download [this package](https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox_0.12.6-1.bionic_amd64.deb) (_assuming you're using amd64_) and google from `extract from deb` -- you should be able to extract the `libwkhtmltox.so.0.12.6` from it (_you can rename it to `libwkhtmltox.so` if you want_).

[2022-03-29 05:17] #112 closed

[2022-03-29 05:45] DHVPP commented on #112
I'm sorry to be reopening this issue, but I might have not explained myself as well as I should have. This client project is an Electron application that uses my package for printing (wkhtmltox is used for fast conversion of html to pdf before printing), so using shared object is not ideal as it would require maintenance on 3000 PCs before the update of the application is run. All i need is info o

[2022-03-29 13:38] DHVPP commented on #112
We haven't decided yet on the license we are going to use, but if complying with LGPLv3 is required for us to successfully ship this package with static linking to wkhtmltox, we would gladly comply.

[2022-03-30 12:22] pham01 opened #113 "wkhtmltopdf 0.12.6 with patched qt"
Hello,

I tried to install wkhtmltopdf with the patched qt, apt-get install -y xvfb wkhtmltopdf, but it always install without.
How can I install with the patched ?

Thanks

[2022-03-31 03:58] ashkulz commented on #113
Get it from the [downloads page](https://wkhtmltopdf.org/downloads)?

[2022-03-31 03:58] #113 closed

[2022-04-04 16:51] arnaldobadin commented on #31
@ashkulz  I built using `qmake && make`, but when I try to run the wkhtmltopdf in the yielded bin folder, it returns: `./wkhtmltopdf: error while loading shared libraries: libwkhtmltox.so.0: cannot open shared object file: No such file or directory`

But in the bin folder I have this `libwkhtmltox.so.0` together with wkhtmltopdf executable.  Seems odd to me, I can't find a solution :/

[2022-04-06 03:32] ashkulz commented on #31
@arnaldobadin I think you need to set `LD_LIBRARY_PATH=<place-where-lib-is> wkhtmltopdf`.

[2022-04-21 05:18] ztinpn commented on #98
any progress?

[2022-04-21 05:41] ashkulz commented on #98
I think [my statement earlier](https://github.com/wkhtmltopdf/packaging/issues/98#issuecomment-904414634) was pretty clear?

[2022-04-21 07:19] ztinpn commented on #98
is QT 6 available to build this project? I see qt6 support mac os m1 in https://www.qt.io/blog/qt-on-apple-silicon

[2022-04-21 07:20] ashkulz commented on #98
Please read https://wkhtmltopdf.org/status

[2022-04-23 14:38] WolfgangBalzer opened #114 "Package for Ubuntu 22.04 (jammy)"
I am trying to build a docker container from Ubuntu 22.04 (jammy), which needs to include **wkhtml2pdf** installed. When trying to install the old bionic package, I receive the following error message:

dpkg: dependency problems prevent configuration of wkhtmltox:
 wkhtmltox depends on libssl1.1; however:
  Package libssl1.1 is not installed.

Ubuntu 22.04 uses the package libssl3, but the distrib

[2022-04-25 03:10] ashkulz commented on #114
Does the `focal` (Ubuntu 20.04) package work?

[2022-04-25 07:17] WolfgangBalzer commented on #114
No, not directly, as explained above. It even may not be installed due to the missing dependency of the libssl1.1 package.

But after installing a the libssl1.1 package from a different source as the distributions repository, I was able to install it and it seems to work. I received the package from here:

`https://mirror.sit.fraunhofer.de/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1l-1ubuntu1.2_amd

[2022-04-25 07:25] WolfgangBalzer commented on #114
OK, after sending my message above, I saw your point. No, I didn't tried focal, just bionic, because I am moving from Ubuntu 18.04 to 22.04 directly. But for now even bionic seems to work.

[2022-04-25 07:27] ashkulz commented on #114
Please reopen if it doesn't work :man_shrugging:

[2022-04-25 07:47] WolfgangBalzer commented on #114
Here is an extract of docker build log for installing wkhtml2pdf focal. The same problem as for bionic:

[code]

... and libssl1.1 is not available in Ubuntu jammy.

[2022-04-25 07:50] ashkulz commented on #114
Did you try `apt-get install -f`?

[2022-04-25 08:08] WolfgangBalzer commented on #114
I used the force option for dpkg like below and the installation is forced and the container created:

`RUN dpkg -i --force-depends /opt/wkhtmltox.deb`

But when running the command in the container, it says:

[code]

[2022-04-27 05:25] ashkulz commented on #114
So the issue is, the patched Qt in wkhtmltopdf uses very old code and doesn't work with the latest gcc versions. In 20.04, an [older version of gcc was used](https://github.com/wkhtmltopdf/packaging/blob/master/docker/Dockerfile.focal) which isn't available in jammy. Need to figure out how to get it fixed there :man_shrugging:

[2022-04-27 07:17] igallart commented on #114
In jammy, the minimal version of gcc is 9
https://packages.ubuntu.com/jammy/amd64/gcc-9

[2022-05-03 14:45] nook24 commented on #114
I fear there will be no build for Ubuntu 22.04 any time soon, which is absolut understandable when reading the [status page](https://wkhtmltopdf.org/status.html).

Back in 2014, wkhtmltopdf was ahead of its time. It took me two days to migrate everything to Puppeteer and I feel a bit sad about it. How ever, I think in the long term it's the right decision.

All left to say is, thank you @ashkulz a

[2022-05-03 15:47] WolfgangBalzer commented on #114
Sorry for asking silly questions, but `wkhtmltopdf` is available from the distribution repositories of Ubuntu 22.04 (jammy) as version 0.12.6. Who has provided this package, if not you?

[2022-05-03 15:57] WolfgangBalzer commented on #114
[code]

[2022-05-04 04:33] ashkulz commented on #114
See "It is not built against a forked version of Qt hence some options are not supported" -- it's built by Debian/Ubuntu without patches.

[2022-05-05 14:19] igallart commented on #114
Hello, I can do work in ubuntu 22.04 compiled from ubuntu impished.
I do this, I did changed the file Dockerfile.focal and build.yml and it worked in 22.04.
[files.zip](https://github.com/wkhtmltopdf/packaging/files/8631961/files.zip)

[2022-05-05 16:18] igallart commented on #114
With Ubuntu Impished it compile.

[wkhtmltox_0.12.5-1.jammy_amd64.zip](https://github.com/wkhtmltopdf/packaging/files/8632951/wkhtmltox_0.12.5-1.jammy_amd64.zip)
[wkhtmltox_0.12.1.4-1.jammy_amd64.zip](https://github.com/wkhtmltopdf/packaging/files/8632973/wkhtmltox_0.12.1.4-1.jammy_amd64.zip)

[2022-05-20 20:03] SpootyMcSpoot opened #116 "Debian Bullseye package support"
Currently for debian I am only seeing packages available up to bionic release. I would like to request support for bullseye so as to keep on the edge of security fixes from upstream images.

New debian release: https://www.debian.org/releases/bullseye/

Currently listed packages: https://github.com/wkhtmltopdf/packaging/releases/0.12.6-1

[2022-05-21 06:43] ashkulz commented on #116
The current `buster` release should work on bullseye. I need to wrap up #101 but I need to finish the migration to GitHub Actions.

[2022-05-27 09:31] preeco-privacy commented on #114
@igallart i really would owe you more then one beer if you could also compile 12.6.1. for jammy against the patched Qt version... that would be awesome!

[2022-05-29 10:01] igallart commented on #114
Hi @preeco-privacy , I have created the package of version 0.12.6, although I have not tested it. It created fine, but I have not been able to test it. If it works well, you will send me an invitation to a good restaurant!
[wkhtmltox_0.12.6-1.jammy_amd64.zip](https://github.com/wkhtmltopdf/packaging/files/8793080/wkhtmltox_0.12.6-1.jammy_amd64.zip)

[2022-05-29 16:53] preeco-privacy commented on #114
Hi @igallart!

works like a charm... including header/footer and ToC.. Thx!

PS: Pls give a a private message and let me know where you are located and i'll do my best regarding the restaurant

[2022-05-29 20:53] igallart commented on #114
I'm glad it works, and no invitation is necessary, in any case it would have to be to @ashkulz, I haven't really done much, just some little trick to make it functional.

[2022-06-02 03:46] ABetterCat opened #117 "command failed: exit code 1"
When i run `./build package-docker centos7-x86_64 /root/wkhtmltopdf-master`
It exit.

`sudo ./build package-docker centos7-x86_64 /root/wkhtmltopdf-master

latest: Pulling from aptman/qus
462eb288b104: Pulling fs layer
462eb288b104: Pull complete
d8ed95a72fb1: Pull complete
175e19796fa9: Pull complete
0b3dd78fa988: Pull complete
e8cb327247ec: Pull complete
Digest: sha256:5ecc37ce5e2c6cf727797b3044

[2022-06-06 10:54] ashkulz commented on #117
Is this inside a docker container or is this in a VM / actual hardware?

[2022-06-07 10:25] der-eismann opened #119 "RHEL / AlmaLinux / Rocky Linux / CentOS 9 support"
We want to use your package on a RHEL 9-derived OS. Currently to make it work you also need to install `compat-openssl11` because the new OS uses OpenSSL 3.0. Would be great if we could have a native package for these OSes.

[2022-06-12 14:53] ashkulz commented on #81
Considering AmazonLinux 1 is EOL this monthend, I'm going to close this issue.

[2022-06-12 14:53] #81 closed

[2022-06-12 14:53] #91 closed

[2022-06-19 05:17] ashkulz commented on #117
Please reopen if you can provide more details.

[2022-06-19 05:17] #117 closed

[2022-06-21 16:59] ashkulz commented on #111
@lishuaiyin02 I'm not sure which version of the `packaging` repo you're using, but it should attempt to create a docker image. Can you check with the latest `master`?

[2022-06-21 16:59] #111 closed

[2022-06-22 14:17] #116 closed

[2022-06-22 14:17] #114 closed

[2022-06-22 14:59] ashkulz commented on #109
@adriantx were you able to investigate this? I don't use the AWS Lambda setup, it was contributed by @deniszatsepin in #77 :man_shrugging:

[2022-06-23 06:17] ashkulz commented on #119
Builds have been published to the website: see wkhtmltopdf/wkhtmltopdf@e59bfcce3e8db83341264bdd75d996319402ccff.

[2022-06-23 06:18] ashkulz commented on #116
Builds have been published to the website: see wkhtmltopdf/wkhtmltopdf@e59bfcce3e8db83341264bdd75d996319402ccff. The Raspberry Pi build failed and is being retried.

[2022-06-23 06:18] ashkulz commented on #114
Builds have been published to the website: see wkhtmltopdf/wkhtmltopdf@e59bfcce3e8db83341264bdd75d996319402ccff.

[2022-06-23 06:20] ashkulz commented on #110
Builds have been published to the website: see wkhtmltopdf/wkhtmltopdf@e59bfcce3e8db83341264bdd75d996319402ccff.

[2022-06-23 06:20] ashkulz commented on #99
Builds have been published to the website: see wkhtmltopdf/wkhtmltopdf@e59bfcce3e8db83341264bdd75d996319402ccff.

[2022-06-23 06:21] ashkulz commented on #94
Builds have been published to the website: see wkhtmltopdf/wkhtmltopdf@e59bfcce3e8db83341264bdd75d996319402ccff.

[2022-06-23 07:16] StefanRijnhart opened #121 "New Jammy builds are against old version of SSL"
Hi, Ubuntu Jammy comes with libssl3, but the new Jammy packages of today are build against libssl1.1.

[code]

[2022-06-23 08:02] #121 closed

[2022-06-24 03:35] ashkulz commented on #121
@jon-willdooit see #98 -- Rosetta is the only option.

[2022-06-27 13:08] huycn commented on #2
I would like to share some info which may help those who are still struggling with font issues. I'm not sure where the source of problem but it seems that it depends a lot on configuration of fontconfig. I have following test file:
[code]
With docker image from https://github.com/Surnet/docker-wkhtmltopdf, if no fonts are installed, the pdf will have both lines with "Arial Narrow", which is reason

[2022-06-28 22:55] altherlex opened #125 "support AmazonLinux 2022"
Tried version `wkhtmltox-0.12.6-1.amazonlinux2.x86_64.rpm` on AL2022 and it doesn't run:

[code]

[2022-06-29 03:56] ashkulz commented on #125
Is Amazon Linux 2022 out of preview yet? I am not in favor of supporting it till it hits GA, as otherwise binaries built now may not work later. You can feel free to copy the definition for Amazon Linux 2 and tweak it till it works.

[2022-06-29 04:54] ashkulz commented on #2
@huycn that sounds like more a fontconfig issue with the above docker image and not wkhtmltopdf? Thanks for the information, though!

[2022-06-29 06:04] altherlex opened #126 "Upgrade to OpenSSL 3.0"
wkhtmltopdf uses OpenSSL v1 and has conflict on system with OpenSSL v3 installed.

[2022-06-29 06:09] ashkulz commented on #126
Which distro/OS are you talking about?

[2022-06-29 06:29] altherlex commented on #126
wkhtmltox-0.12.6-1.amazonlinux2.x86_64

[2022-06-29 06:42] ashkulz commented on #126
Duplicate of #125 -- please don't create additional issues, not sure if you saw my comment there?

[2022-06-29 06:42] #126 closed

[2022-06-29 06:43] ashkulz commented on #126
If you see the Ubuntu 22.04 build, it does work -- so OpenSSL 3.0 support isn't an issue. You're using a build for AmazonLinux 2 on AmazonLinux 2022 which isn't gonna work.

[2022-06-29 13:48] #125 closed

[2022-07-27 12:35] CY-Qiu opened #128 "Hope for Kylin OS V10 build"
In china, Kylin OS V10 is becoming a very popular distribution rapidly, especially in arm64 market.
It is a commercial version of Ubuntu Kylin.
See official site: https://kylinos.cn/support/download.html
There are also a docker image in docker hub: https://hub.docker.com/r/freelizhun/kylinosv10

However, when I tried to compile wkhtmltopdf by myself on Kylin OS. I found out even if I use the patch

[2022-08-24 15:24] racooper opened #129 "No builds of 0.12.6.1-2 for CentOS/RHEL 7"
Has wkhtmltopdf dropped support for RHEL 7? There are no RPMS built for that distro and version in the releases.

[2022-08-25 04:50] ashkulz commented on #129
The earlier release `0.12.6` should work as-is, are you facing any issues? The `0.12.6.1` release is just to address build failures due to newer compiler versions in the latest distros.

[2022-08-25 04:50] #129 closed

[2022-08-25 04:50] ashkulz commented on #128
I'm not sure I can help you there, sorry :man_shrugging:

[2022-09-02 03:45] arnaldobadin commented on #31
@ashkulz it worked, but now it is asking for a lot of libraries... I am trying to run it on Lambda. Do you know how I can build it without patched Qt?

[2022-09-04 16:59] darwinini commented on #98
I was able to install homebrew natively without using Rosetta mode. This link provides a good set of instructions which worked for me (m1 max).

https://www.funkyspacemonkey.com/how-to-install-homebrew-on-m1-macs-running-macos-monterey

[2022-09-06 06:59] ashkulz commented on #31
@arnaldobadin see [after_compile/amazonlinux2_lambda.sh](https://github.com/wkhtmltopdf/packaging/blob/master/after_compile/amazonlinux2_lambda.sh), you probably need to copy the `libQt` libraries to that list.

[2022-09-08 06:57] Ruesa18 commented on #2
Sorry for asking. But this could be very useful for what I am currently working on, so... Is there any update on this? 😅

[2022-09-08 08:54] quentincaffeino commented on #2
If you want your pdf look pixel perfect as in browser, just use a browser and some testing framework. Here is an example how to do this with puppeteer' https://futurestud.io/tutorials/node-js-create-a-pdf-from-html-with-puppeteer-and-handlebars

[2022-09-09 06:55] Ruesa18 commented on #2
I already have existing applications that are using wkhtmltopdf. The only thing is that I would like to have it inside my alpine images for easier deployment and maintenance in general. So switching to another pdf renderer isn't really an option :sweat_smile:
What I'm searching is either an up-to-date alpine image (amd and arm) or - even better - a binary file for both architectures that I can jus

[2022-09-09 08:08] quentincaffeino commented on #2
I don't think there is a up-to-date binary therefore also an image. If it would be it would be here.

[2022-09-12 03:51] ashkulz commented on #2
I think there's a few docker images linked above, I've yet to evaluate the patches :man_shrugging:

[2022-09-16 08:47] DipaZ commented on #104
Hi! Same problem here, i need to repack component to try to resolve https://github.com/wkhtmltopdf/wkhtmltopdf/issues/4344 problem, but i receive the same error. Any solution?

[2022-09-16 12:24] #128 closed

[2022-10-10 06:06] huage969030970 commented on #2
I'm using this and it doesn't seem to support JavaScript

[2022-10-13 09:08] oriceon opened #130 "0.12.6.1-2 Windows builds?"
Hi there, i saw a preview builds but Windows ones are missing.

[2022-11-04 14:24] mark-young-atg commented on #98
I'm not much of a Mac person but I have a 2021 MacBook Pro with M1 silicon. I believe I have found a couple of ways to work around this. There may be a reason why my approaches are bad. If so please enlighten me.

**First approach:**

This is based on my having installed wkhtmltopdf using brew: `brew install --cask wkhtmltopdf`

[code]

This approach needs to be coded into the application. It like

[2022-11-17 05:59] MihailIgk opened #131 "qpagesetupdialog_unix.cpp: In constructor 'QPageSetupWidget::QPageSetupWidget(QWidget*)'"
I have the same problem now

[Support for i386 as a host architecture was dropped in 19.10](https://wiki.ubuntu.com/FocalFossa/ReleaseNotes#Upgrades_on_i386), so we need amd64 only.
I simply copy-pasted the bionic section and replaced bionic with focal.
`./build docker-images focal-amd64` succeeded, but then the compilation failed with the error:

[code]

This is the top of the output, there were

[2022-11-17 10:56] MihailIgk commented on #131
And I have the same proplem on debian 11, trying to execute:
`./build package-docker bullseye-amd64 ..`
and getting errors:
`/src/qt/src/gui/dialogs/qpagesetupdialog_unix.cpp:276:12: error: 'class Ui::QPageSetupWidget' has no member named 'topMargin'
  276 |     widget.topMargin->setSuffix(suffix);
      |            ^~~~~~~~~
/src/qt/src/gui/dialogs/qpagesetupdialog_unix.cpp:277:12: error: 'class

[2022-11-17 13:13] ashkulz commented on #131
Did you use this [`qt` branch](https://github.com/wkhtmltopdf/qt/commits/wk_4.8.7_0.12.6)? That's what is used for the builds.

[2022-11-17 16:55] MihailIgk commented on #131
Oh no, I didn't.. Yes, it works excellent on this branch, thank you so much!

[2022-11-17 16:55] #131 closed

[2022-11-22 20:35] micchickenburger opened #132 "Native arm builds fail"
Native arm builds fail because `wkhtmltopdf/fpm` docker image on Docker Hub does not have an arm64 platform type.

A workaround was to build locally.

[code]

[2022-11-23 06:38] ashkulz commented on #130
The original 0.12.6-1 builds should work fine? The followup releases are just build fixes.

[2022-11-23 06:38] #130 closed

[2022-11-23 06:41] ashkulz commented on #132
@micchickenburger true, I don't have a native ARM machine so that I can push it to `hub.docker.com`. Do you know of a way I can get it working on an amd64 host? If so, I'll be happy to push an updated image.

[2022-11-23 15:03] micchickenburger commented on #132
I don't know a way to do that from amd64/x86_64, but I can push the one I built if you'd like.  I think my docker hub ID is the same as my github handle.

[2022-11-24 05:16] #132 closed

[2022-11-24 05:17] ashkulz commented on #132
@micchickenburger can you check if it works now? Hopefully the multi-platform build works :crossed_fingers:

[2022-11-29 19:26] mireksawicz commented on #98
If anyone is still struggling with installing `wkhtmltopdf` on Mac M1 I have just managed to install it using brew.
I have 2021 MacbookPro M1 and my Terminal runs natively (not through Rosetta) and I just ran
`brew install wkhtmltopdf`
and that worked for me with no issues